Repository IBM/CAST, changes with the owners that .github/CODEOWNERS names for each.
All owners: @besawn, @tgooding, @lasch, @williammorrison2, @sanomiya

.github/CODEOWNERS:

# === EXAMPLES AND TEMPLATES FROM GITHUB ===

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat

# === END EXAMPLES FROM GITHUB ===

# ==========================================================
# BEGIN CAST REPO CODEOWNERS INFO 
# ==========================================================

# Start of building out the CODEOWNERS FILE
# Just a start. Please feel free to add yourself here. 

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @besawn and @tgooding will be requested for
# review when someone opens a pull request.
# because they are the team leads of CSM and BB
* @besawn @tgooding

# In this example, @besawn own any file in the `/docs`
# directory in the root of your repository.
/docs/ @besawn

#NOTE: Until we get git status bots checking regression. 
# both @williammorrison2 should be added
# as codeowners to all to run regression, maybe? 

# Folder Experts
# The following are in alphabetical order by category

#GITHUB related integration files 
/.github/ @tgooding

# Files related to Burst Buffer
/bb/ @tgooding

#Files related to CSM Configuration
/csmconf/ @lasch

#Files related to CSM Daemons
/csmd/ @lasch

#Files related to CSM APIs on the CSM backend
/csmd/src/daemon/src/csmi_request_handler/ @besawn

#Files related to CSM inventory collection
/csmd/src/inv/ @besawn

#Files related to CSM ib and switch interaction
/csmd/src/inv/ib_and_switch/ @besawn

#Files related to CSM APIs
/csmi/ @williammorrison2

#Files related to CSM Big Data
/csm_big_data/ @besawn

# Files related to CSM Database
/csmdb/ @williammorrison2

#Files related to CSM Networking
/csmnet/ @lasch

#Files related to CSM rest APIs
/csmrestd/ @besawn

#Files related to CSM FVT test
/csmtest/ @williammorrison2

#Files related to diagnostics and health check
/hcdiag/ @sanomiya

# File Type Experts
# CAST Markdown Experts
*.md @tgooding

# CAST SQL Expert 
*.sql @williammorrison2

Fix for issue #1003
  bb/src/LVUtils.cc
  bb/src/fh.cc
Owners: @tgooding

Some updates to ansible
  bb/ansible/bbCheck.yml
  bb/ansible/bbInstall.yml
  bb/ansible/bbStart.yml
  bb/ansible/bbUninstall.yml
  bb/src/bbinternal.h
  bb/src/bbproxy.cc
  bb/src/connections.cc
  bb/src/tracksyscall.cc
  bb/src/tracksyscall.h
  transport/src/CnxSockSSL.cc
Owners: @tgooding, @besawn

revert bbinternal.h
  bb/src/bbinternal.h
Owners: @tgooding

Set TCP NO DELAY on sockets sending messages
  bb/src/bbproxy.cc
  transport/include/Connex.h
  transport/src/CnxSock.cc
  transport/src/CnxSockSSL.cc
Owners: @tgooding, @besawn

Fix code for newsock NULL on listener socket
  bb/src/connections.cc
  transport/src/CnxSockSSL.cc
Owners: @tgooding, @besawn

Correct handling rc for SSL_connect & accept.Add nodelay,reuseprot
  bb/src/connections.cc
  transport/include/CnxSock.h
  transport/include/CnxSockSSL.h
  transport/include/Connex.h
  transport/src/CnxSock.cc
  transport/src/CnxSockSSL.cc
Owners: @tgooding, @besawn

Less noisy ansible output, improved operations
  bb/ansible/bbCheck.yml
  bb/ansible/bbInstall.yml
  bb/ansible/bbStart.yml
  bb/ansible/bbUninstall.yml
  bb/ansible/certificates.yml
  bb/ansible/nodelist.yml
Owners: @tgooding

Log AUTHENTICATE msg handling in bbproxy
  bb/src/bbproxy.cc
Owners: @tgooding

if an SSL_error, log it
  transport/src/CnxSockSSL.cc
Owners: @besawn, @tgooding

minor setDelay change
  transport/include/CnxSock.h
  transport/src/CnxSock.cc
Owners: @besawn, @tgooding

Allow time for SSL renogotiation for open_server message
  bb/src/connections.cc
Owners: @tgooding

update comment
  bb/src/connections.cc
Owners: @tgooding

Use python3 for test case on RHEL8
  bb/tests/keywords_pytest.robot
Owners: @tgooding

Changes to python3 from 2; archived python2
  bb/wrappers/Procedures.py
  bb/wrappers/RunProcedure.py
  bb/wrappers/bb.py
  bb/wrappers/bbapi.py
  bb/wrappers/bbapiAdmin.py
  bb/wrappers/bbapiAdminProcs.py
  bb/wrappers/bbapiTest.py
  bb/wrappers/bbapi_main.py
  bb/wrappers/bberror.py
  bb/wrappers/bbtests.py
  bb/wrappers/python2/Procedures.py
  bb/wrappers/python2/RunProcedure.py
  bb/wrappers/python2/bb.py
  bb/wrappers/python2/bbapi.py
  bb/wrappers/python2/bbapiAdmin.py
  bb/wrappers/python2/bbapiAdminProcs.py
  bb/wrappers/python2/bbapiTest.py
  bb/wrappers/python2/bbapi_main.py
  bb/wrappers/python2/bberror.py
  bb/wrappers/python2/bbtests.py
Owners: @tgooding

Remove python2 folder (archive)
  bb/wrappers/python2/Procedures.py
  bb/wrappers/python2/RunProcedure.py
  bb/wrappers/python2/bb.py
  bb/wrappers/python2/bbapi.py
  bb/wrappers/python2/bbapiAdmin.py
  bb/wrappers/python2/bbapiAdminProcs.py
  bb/wrappers/python2/bbapiTest.py
  bb/wrappers/python2/bbapi_main.py
  bb/wrappers/python2/bberror.py
  bb/wrappers/python2/bbtests.py
Owners: @tgooding

This handles the timestamp issue related to finding running jobs (part of issue #995).
  csm_big_data/python/cast_helper.py
  csm_big_data/python/findJobsRunning.py
Owners: @besawn

CSM BDS logstash dependency fixes
  csm_big_data/logstash/CMakeLists.txt
  csm_big_data/logstash/patches/csm_logstash_patch_jruby_9.2.8.sh
  csm_big_data/logstash/plugins/csm_event_correlator/Gemfile
  csm_big_data/logstash/plugins/csm_event_correlator/build.sh
Owners: @besawn

Script heading typo fix.
  csm_big_data/logstash/patches/csm_logstash_patch_jruby_9.2.8.sh
Owners: @besawn

CSM BDS initial documentation updates.
  docs/source/cast-big-data/common-problems.rst
  docs/source/cast-big-data/elasticsearch.rst
  docs/source/cast-big-data/kibana.rst
  docs/source/cast-big-data/logstash.rst
Owners: @besawn

CSM DB backup_script update related to number of working threads while dumping the DB.
  csmdb/sql/csm_db_backup_script_v1.sh
Owners: @williammorrison2

Thanh made some updates to BDS doc files beats.rst,elasticsearch.rst,kibana.rst,logstash.rst
  docs/source/cast-big-data/beats.rst
  docs/source/cast-big-data/elasticsearch.rst
  docs/source/cast-big-data/kibana.rst
  docs/source/cast-big-data/logstash.rst
Owners: @besawn

Another update to the BDS docs related to the logstash.rst file. spacing issue.
  docs/source/cast-big-data/logstash.rst
Owners: @besawn

added some details related to the removal of RPMs in the csm_uninstall.sh script.
  csmtest/setup/csm_uninstall.sh
Owners: @williammorrison2

cast version bump 1.8.3
  CMakeLists.txt
Owners: @besawn, @tgooding

CSM FVT updates from xcat node definitions to variables in the csm_test.cfg file
  csmtest/buckets/basic/allocation.sh
  csmtest/buckets/basic/csm_ctrl_cmd.sh
  csmtest/buckets/basic/db_script.sh
  csmtest/buckets/error_injection/allocation.sh
  csmtest/buckets/error_injection/infrastructure.sh
  csmtest/buckets/error_injection/versioning.sh
  csmtest/include/functions.sh
  csmtest/include/hcdiag/csm_fvt_diag_test_properties_setup_p8_p9.sh
  csmtest/setup/csm_dual_aggregator_setup.sh
  csmtest/setup/csm_install.sh
  csmtest/setup/csm_setup.sh
  csmtest/setup/csm_uninstall.sh
  csmtest/tools/ci_fvt.sh
  csmtest/tools/complete_fvt.sh
  csmtest/tools/dual_aggregator/daemon_status.sh
  csmtest/tools/dual_aggregator/shutdown_daemons.sh
  csmtest/tools/dual_aggregator/start_daemons.sh
  csmtest/tools/enable_ssl.sh
  csmtest/tools/single_aggregator/daemon_status.sh
  csmtest/tools/single_aggregator/shutdown_daemons.sh
  csmtest/tools/single_aggregator/start_daemons.sh
Owners: @williammorrison2

updated the file to reflect the changes.
  csmtest/config.template
Owners: @williammorrison2

CSM readthedocs update for 1.8.3
  docs/source/conf.py
  docs/source/csm/csm-installation-and-configuration/appendices.rst
  docs/source/csm/csm-installation-and-configuration/configuration.rst
  docs/source/csm/csm-installation-and-configuration/installation.rst
  docs/source/csm/csm-installation-and-configuration/uninstallation.rst
  docs/source/csm/csm-user-guide/csm_rest_daemon.rst
Owners: @besawn

updated the CSM pre_requisites.rst file
  docs/source/csm/csm-installation-and-configuration/pre_requisites.rst
Owners: @besawn

Skip token of newline in getLocalReadWrite to avoid stoull(newline)
  bb/src/usage.cc
Owners: @tgooding

Update usage.cc
  bb/src/usage.cc
Owners: @tgooding

Revert changes to getdeviceusage
  bb/src/usage.cc
Owners: @tgooding

Update usage.cc
  bb/src/usage.cc
Owners: @tgooding

Add NVMf tcp transport type
  bb/src/serial.cc
Owners: @tgooding

Ensure /etc/ibm directory exists
  bb/ansible/bbserverIPlist.yml
  bb/ansible/nodelist.yml
Owners: @tgooding

Add option to specify the volumegroup
  bb/scripts/bbactivate.pl
Owners: @tgooding

Bump the CAST version to 1.8.4
  CMakeLists.txt
Owners: @besawn, @tgooding

Update connections.cc
  bb/src/connections.cc
Owners: @tgooding

Update connections.cc
  bb/src/connections.cc
Owners: @tgooding

CSM FVT: Added test case for chk-ib-pcispeed to the hcdiag basic bucket
  csmtest/buckets/basic/hcdiag.sh
Owners: @williammorrison2

Fixed hcdiag chk-ib-pcispeed.sh lspci parsing for RHEL 8
  hcdiag/src/tests/chk-ib-pcispeed/chk-ib-pcispeed.sh
Owners: @sanomiya
