Repository IBM/CAST, changes with the owners that .github/CODEOWNERS names for each.
All owners: @besawn, @tgooding, @lasch, @williammorrison2, @sanomiya

.github/CODEOWNERS:

# === EXAMPLES AND TEMPLATES FROM GITHUB ===

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
# /docs/ @doctocat

# === END EXAMPLES FROM GITHUB ===

# ==========================================================
# BEGIN CAST REPO CODEOWNERS INFO 
# ==========================================================

# Start of building out the CODEOWNERS FILE
# Just a start. Please feel free to add yourself here. 

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @besawn and @tgooding will be requested for
# review when someone opens a pull request.
# because they are the team leads of CSM and BB
* @besawn @tgooding

# In this example, @besawn own any file in the `/docs`
# directory in the root of your repository.
/docs/ @besawn

#NOTE: Until we get git status bots checking regression. 
# both @williammorrison2 should be added
# as codeowners to all to run regression, maybe? 

# Folder Experts
# The following are in alphabetical order by category

#GITHUB related integration files 
/.github/ @tgooding

# Files related to Burst Buffer
/bb/ @tgooding

#Files related to CSM Configuration
/csmconf/ @lasch

#Files related to CSM Daemons
/csmd/ @lasch

#Files related to CSM APIs on the CSM backend
/csmd/src/daemon/src/csmi_request_handler/ @besawn

#Files related to CSM inventory collection
/csmd/src/inv/ @besawn

#Files related to CSM ib and switch interaction
/csmd/src/inv/ib_and_switch/ @besawn

#Files related to CSM APIs
/csmi/ @williammorrison2

#Files related to CSM Big Data
/csm_big_data/ @besawn

# Files related to CSM Database
/csmdb/ @williammorrison2

#Files related to CSM Networking
/csmnet/ @lasch

#Files related to CSM rest APIs
/csmrestd/ @besawn

#Files related to CSM FVT test
/csmtest/ @williammorrison2

#Files related to diagnostics and health check
/hcdiag/ @sanomiya

# File Type Experts
# CAST Markdown Experts
*.md @tgooding

# CAST SQL Expert 
*.sql @williammorrison2

csm fvt test case to handle SSDs on the compute nodes during inventory collection.
  csmtest/buckets/basic/node.sh
  csmtest/include/functions.sh
Owners: @williammorrison2

added in some enhancements related to the csm_db_utility.sh script. Sets up postgreSQL/server/configs on a node if not already setup.
  csmdb/sql/csm_db_utility_setup_script.sh
Owners: @williammorrison2

added in an automated script to build the /test/ directories related to CSM FVT framework.
  csmtest/config.template
  csmtest/include/csm_fvt_test_dir_setup.sh
Owners: @williammorrison2

had to modify a couple variables to reflect the XCATMN.
  csmtest/include/csm_fvt_xcat_setup_on_non_mn.sh
Owners: @williammorrison2

created a branch off a previous branch instead of master, so had to modify and remove the other changes.
  csmtest/config.template
  csmtest/include/csm_fvt_test_dir_setup.sh
Owners: @williammorrison2

Revert "Bills fvt xcat non mn fix"
  csmtest/include/csm_fvt_xcat_setup_on_non_mn.sh
Owners: @williammorrison2

had to modify a couple variables to reflect the XCATMN.
  csmtest/include/csm_fvt_xcat_setup_on_non_mn.sh
Owners: @williammorrison2

added in an automated script to build the /test/ directories related to CSM FVT framework.
  csmtest/config.template
  csmtest/include/csm_fvt_test_dir_setup.sh
Owners: @williammorrison2

added in an additional check for the s/n while calling csm_bb_vg_create
  csmtest/buckets/basic/bb.sh
Owners: @williammorrison2

modified a line and also update a variable related to the bb.sh test case number 2.
  csmtest/buckets/basic/bb.sh
Owners: @williammorrison2

Ignore stderr from lvs command
  bb/scripts/bbactivate.pl
Owners: @tgooding

Update RHEL8 default lvm.conf global_filter setting
  bb/scripts/bbactivate.pl
Owners: @tgooding

Use dnf and potentially pull from a remote repo
  bb/ansible/bbInstall.yml
  bb/ansible/bbUninstall.yml
  bb/ansible/hosts
  bb/fvt-ansible/csmInstall.yml
  bb/fvt-ansible/csmUninstall.yml
  bb/fvt-ansible/update.yml
Owners: @tgooding

Restore reachability check
  bb/ansible/bbInstall.yml
Owners: @tgooding

Ensure /etc/ibm created on computes and bbserver nodes
  bb/ansible/certificates.yml
Owners: @tgooding

Change in certificate key
  bb/ansible/certificates.yml
Owners: @tgooding

added in some logical checks related to allocations and core isolation. Making sure the allocations are in the right cgroups.
  csmtest/buckets/advanced/allocation.sh
  csmtest/buckets/basic/allocation.sh
  csmtest/setup/csm_install.sh
  csmtest/setup/csm_uninstall.sh
Owners: @williammorrison2

cleaned up some comments and misc. things
  csmtest/buckets/advanced/allocation.sh
  csmtest/buckets/basic/allocation.sh
Owners: @williammorrison2

Fix minimum ansible RPM version
  bb/CMakeLists.txt
Owners: @tgooding

Add createrepo to build package list
  scripts/Dockerfile
Owners: @besawn, @tgooding

Adding in a new test bucket in the advanced section (validate the CSM allocation metrics after a job has completed)
  csmtest/buckets/advanced/allocation_metrics_test.sh
  csmtest/tools/complete_fvt.sh
Owners: @williammorrison2

Add man and docs for gitfileinfo
  bb/include/bbapiAdmin.h
  bb/src/bbcmd.pod
  docs/source/burst-buffer/cli/bbcmd.rst
Owners: @tgooding, @besawn

fixed numpy dependency for python2 in ibm-csm-tools rpm
  csmd/setupRPM.cmake
  csmutil/csm_log_utility/API_Statistics.py
  csmutil/csm_log_utility/CMakeLists.txt
Owners: @lasch, @besawn, @tgooding

Add python3-devel to build container
  scripts/Dockerfile
Owners: @besawn, @tgooding

Issue #981
  bb/src/fh.cc
Owners: @tgooding

CAST Read the docs phase 1 updates for the latest release
  docs/source/conf.py
  docs/source/csm/csm-installation-and-configuration/appendices.rst
  docs/source/csm/csm-installation-and-configuration/configuration.rst
  docs/source/csm/csm-installation-and-configuration/installation.rst
  docs/source/csm/csm-installation-and-configuration/pre_requisites.rst
  docs/source/csm/csm-installation-and-configuration/uninstallation.rst
  docs/source/csm/csm-installation-and-configuration/updating_from_a_previous_version.rst
  docs/source/csm/csm-user-guide/csm_rest_daemon.rst
  docs/source/csm/csmdb/csm_db_appendix.rst
  docs/source/csm/csmdb/csm_db_appendix_table_csv_files/csm_db_indexes_06_03_2019_11_47_00.csv
  docs/source/csm/csmdb/csm_db_backup_script_v1_sh.rst
  docs/source/csm/csmdb/csm_db_script_sh.rst
  docs/source/csm/tools.rst
Owners: @besawn

Do csm init of structures, use local string for config get vg name
  bb/src/nodecontroller_csm.cc
  bb/src/nodecontroller_csm.h
Owners: @tgooding

Use local string for volume group in lvcreate processing
  bb/src/nodecontroller_csm.cc
Owners: @tgooding

Improve log by putting a space before host name
  bb/src/nodecontroller_csm.cc
Owners: @tgooding

Prefer xcat name if available over hostname
  bb/src/bbcmd.cc
  bb/src/nodecontroller.cc
  bb/src/nodecontroller.h
Owners: @tgooding

Sort compute node output for csm_allocation_query and CSM/JSM launch.
  csmd/src/daemon/src/CMakeLists.txt
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationQuery.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIJSRUNCMD.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_sort_hosts.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_sort_hosts.h
Owners: @lasch, @besawn

Handle mtime conversion conditioned on getstats success
  bb/src/fh.cc
Owners: @tgooding

Fix syntax
  bb/src/fh.cc
Owners: @tgooding

CSM BDS fixes related to open IST issues.
  csm_big_data/python/cast_helper.py
  csm_big_data/python/findJobKeys.py
  csm_big_data/python/findJobMetrics.py
  csm_big_data/python/findJobTimeRange.py
  csm_big_data/python/findJobsInRange.py
  csm_big_data/python/findJobsRunning.py
  csm_big_data/python/findUserJobs.py
  csm_big_data/python/findWeightedErrors.py
  csmtest/buckets/BDS/python_scripts.sh
Owners: @besawn, @williammorrison2

CSM FVT updates related to hcdiag ppping and node recovering test cases along with hcdiag environmental configs.
  csmtest/buckets/basic/hcdiag.sh
  csmtest/buckets/basic/node.sh
  csmtest/include/functions.sh
  csmtest/include/hcdiag/csm_fvt_diag_clustconf_yaml_setup_p8_p9.sh
  csmtest/include/hcdiag/csm_fvt_diag_test_properties_setup_p8_p9.sh
Owners: @williammorrison2

CSM BDS fixes related to date-time format issues #992 #995
  csm_big_data/logstash/config/logstash.conf
  csm_big_data/python/findJobKeys.py
  csm_big_data/python/findJobMetrics.py
  csm_big_data/python/findJobTimeRange.py
Owners: @besawn

CSM FVT updates related to dcgm setup with some other test case modifications.
  csmtest/buckets/basic/python_libraries.sh
  csmtest/setup/csm_install.sh
  csmtest/setup/csm_setup.sh
  csmtest/setup/csm_uninstall.sh
Owners: @williammorrison2

Adding a fix for time range query
  csm_big_data/python/cast_helper.py
Owners: @besawn

Fix exception bbcmd no arguments at bbcmd.cc:1026 strchr(argv[1]
  bb/src/bbcmd.cc
Owners: @tgooding

Commented out convert_timestamp
  csm_big_data/python/cast_helper.py
Owners: @besawn
