Repository IBM/CAST, pull requests merged in 2018-12, with the labels that each got.

#430 csmdb_update: pdf and image testing
  docs/source/csmdb/csm_db_appendix.rst
Labels: Comp: CSM, Comp: CSM.db, Type: Documentation, Type: Example

#429 Documentation enhancements
  csm_big_data/beats/config/filebeat.yml
  docs/source/cast-big-data/cast-search.rst
  docs/source/cast-big-data/data-aggregators.rst
  docs/source/cast-big-data/index.rst
  docs/source/cast-big-data/kibana.rst
  docs/source/conf.py
  docs/source/csm/index.rst
  docs/source/csm/soft_failure.rst
  docs/source/csmd/csm_daemon.rst
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.bds, PhaseFound: Development, Sev: 3, Status: Verify, Type: Documentation

#432 Soft Failure Bug Fixes
  csmd/src/daemon/src/csmi_request_handler/CSMIRasEventCreate.cc
  csmd/src/daemon/src/csmi_request_handler/CSMISoftFailureRecovery.cc
  csmd/src/daemon/src/csmi_request_handler/CSMISoftFailureRecovery.h
  csmd/src/daemon/src/csmi_request_handler/csmi_handler_context.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_handler_context.h
  csmd/src/daemon/src/csmi_request_handler/csmi_handler_state.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcast.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastAllocation.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastBB.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastBB.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastJSRUN.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastJSRUN.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastSoftFailureRecovery.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastSoftFailureRecovery.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastSpawner.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastStep.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastStep.h
  csmd/src/daemon/src/csmi_request_handler/csmi_network_message_state.h
  csmi/include/csm_api_ras_keys.h
  csmi/src/wm/cmd/soft_failure_recovery.c
  docs/source/cast-big-data/kibana.rst
  docs/source/csm/soft_failure.rst
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.ras, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect, Type: Documentation, Type: Story, Type: Test Case Request

#433 Data Aggregator Fixes
  csm_big_data/data-aggregators/gpfs/zimonCollector.py
  csm_big_data/data-aggregators/ufm/ufmCollection.py
  csm_big_data/python/cast_helper.py
  csm_big_data/python/findJobKeys.py
  csm_big_data/python/findJobMetrics.py
  csm_big_data/python/findJobTimeRange.py
  csm_big_data/python/findJobsInRange.py
  csm_big_data/python/findJobsRunning.py
  csm_big_data/python/findUserJobs.py
  csm_big_data/python/findWeightedErrors.py
Labels: Comp: CSM, Comp: CSM.bds, Sev: 3, Status: Verify, Type: Defect

#436 csmdb_update: cleaned up some scripts and added a couple error handli…
  csmdb/sql/CMakeLists.txt
  csmdb/sql/csm_db_backup_script_v1.sh
  csmdb/sql/csm_db_connections_script.sh
  csmdb/sql/csm_db_ras_type_script.sh
  csmdb/sql/csm_db_schema_version_upgrade_16_2.sh
  csmdb/sql/csm_db_script.sh
  csmdb/sql/csm_db_stats.sh
Labels: Comp: CSM, Comp: CSM.db, PhaseFound: Development, Sev: 3, Type: Defect, Type: Test Case Request

#441 Transactional logs now have original create data.
  utilities/include/logging.h
  utilities/src/logging.cc
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.bds, PhaseFound: Customer, Sev: 3, Status: Verify, Type: Defect

#437 Fixing error code for daemon being down.
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastAllocation.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastBB.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastJSRUN.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastSoftFailureRecovery.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastStep.h
  csmd/src/daemon/src/csmi_request_handler/csmi_network_message_state.h
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: FVT, Sev: 2, Status: Verify, Type: Defect

#442 Fixing valgrind uninitialized warnings for Aggregator Daemon
  csmd/src/daemon/src/connection_handling.cc
  csmd/src/daemon/src/csm_bds_manager.cc
  docs/source/csmd/csm_daemon.rst
  docs/source/csmd/index.rst
Labels: Comp: CSM, Comp: CSM.infra, PhaseFound: Development, Sev: 4, Status: Verify, Type: Defect

#438 1.4.0 struct finalization
  csmd/src/daemon/src/csmi_request_handler/csmi_handler_state.cc
  csmi/include/csm_api_version.h
  csmi/include/csm_types/enum_defs/common/csmi_errors.def
  csmi/include/csm_types/enum_defs/common/csmi_node_state.def
  csmi/include/csm_types/enum_defs/common/type_order.def
  csmi/include/csm_types/enum_defs/wm/csmi_allocation_type.def
  csmi/include/csm_types/enum_defs/wm/type_order.def
  csmi/include/csm_types/struct_defs/common/csm_node_error.def
  csmi/include/csm_types/struct_defs/common/csmi_err.def
  csmi/include/csm_types/struct_defs/common/type_order.def
  csmi/include/csm_types/struct_defs/inv/csm_ib_cable_inventory_collection_output.def
  csmi/include/csm_types/struct_defs/inv/csm_switch_attributes_query_input.def
  csmi/include/csm_types/struct_defs/inv/csm_switch_children_inventory_collection_output.def
  csmi/include/csm_types/struct_defs/inv/csm_switch_inventory_collection_output.def
  csmi/include/csm_types/struct_defs/inv/type_order.def
  csmi/include/csm_types/struct_defs/wm/csm_soft_failure_recovery_input.def
  csmi/include/csm_types/struct_defs/wm/csm_soft_failure_recovery_node.def
  csmi/include/csm_types/struct_defs/wm/csm_soft_failure_recovery_output.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_gpu_metrics.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_context.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_payload_request.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_payload_response.def
  csmi/include/csm_types/struct_defs/wm/csmi_jsrun_cmd_payload.def
  csmi/include/csm_types/struct_defs/wm/csmi_soft_failure_recovery_payload.def
  csmi/include/csm_types/struct_defs/wm/type_order.def
  docs/source/csm/csm_api_change_log.rst
  docs/source/csm/index.rst
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 3, Status: Verify, Type: Defect, Type: Documentation, Type: Story

#444 Read the docs
  docs/source/csm-apis/configuration/configuring-a-user-privilege-level.rst
  docs/source/csm-apis/configuration/configuring-allocation-prolog-and-epilog-scripts.rst
  docs/source/csm-apis/configuration/configuring-allocation-step-prolog-and-epilog-scripts.rst
  docs/source/csm-apis/configuration/configuring-api-control-level.rst
  docs/source/csm-apis/configuration/configuring-api-timeouts.rst
  docs/source/csm-apis/configuration/configuring-csm-api-logging-levels.md
  docs/source/csm-apis/configuration/configuring-the-CSM-PAM-module.rst
  docs/source/csm-apis/configuration/configuring-user-control-security-and-access-level.rst
  docs/source/csm-apis/configuration/index.rst
  docs/source/csm-apis/csm_api_change_log.rst
  docs/source/csm-apis/csm_python_guide.md
  docs/source/csm-apis/implementing-new-csm-apis.rst
  docs/source/csm-apis/index.rst
  docs/source/csm-apis/installation.rst
  docs/source/csm-apis/list-of-csm-apis.rst
  docs/source/csm-apis/soft_failure.rst
  docs/source/csm/index.rst
  docs/source/index.rst
  docs/source/tools.rst
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 3, Status: Verify, Type: Documentation

#446 Fixing responder error where error codes weren't set.
  csmd/src/daemon/src/csmi_request_handler/csmi_handler_state.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastResponder.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastSoftFailureRecovery.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: FVT, Sev: 2, Status: Verify, Type: Defect

#451 Enhancements to the documentation
  docs/source/cast-big-data/beats.rst
  docs/source/cast-big-data/cast-search.rst
  docs/source/cast-big-data/common-problems.rst
  docs/source/cast-big-data/csm-event-correlator.rst
  docs/source/cast-big-data/data-aggregators.rst
  docs/source/cast-big-data/elasticsearch.rst
  docs/source/cast-big-data/index.rst
  docs/source/cast-big-data/logstash.rst
  docs/source/cast-big-data/python-guide.rst
  docs/source/conf.py
  docs/source/csm-apis/configuration/configuring-a-user-privilege-level.rst
  docs/source/csm-apis/configuration/configuring-allocation-prolog-and-epilog-scripts.rst
  docs/source/csm-apis/configuration/configuring-allocation-step-prolog-and-epilog-scripts.rst
  docs/source/csm-apis/configuration/configuring-api-control-level.rst
  docs/source/csm-apis/configuration/configuring-api-timeouts.rst
  docs/source/csm-apis/configuration/configuring-csm-api-logging-levels.md
  docs/source/csm-apis/configuration/configuring-csm-api-logging-levels.rst
  docs/source/csm-apis/configuration/configuring-csm-pamd.rst
  docs/source/csm-apis/configuration/configuring-prolog.rst
  docs/source/csm-apis/configuration/configuring-the-CSM-PAM-module.rst
  docs/source/csm-apis/configuration/configuring-user-control-security-and-access-level.rst
  docs/source/csm-apis/configuration/index.rst
  docs/source/csm-apis/implementing-new-csm-apis.rst
  docs/source/csm-apis/index.rst
  docs/source/csm-apis/installation.rst
  docs/source/csmd/csm_daemon.rst
  docs/source/csmd/csmd_config.rst
  docs/source/csmd/index.rst
Labels: Comp: CSM, PhaseFound: Development, Sev: 3, Status: Verify, Type: Documentation

#465 add documentation note about csm heartbeat
  docs/source/csmd/csmd_config.rst
Labels: Comp: CSM, Type: Documentation

#448 csmdb_update: read the docs
  docs/source/csmdb/csm_db_history_archive_py.rst
  docs/source/csmdb/csm_db_history_delete_py.rst
  docs/source/csmdb/csm_db_history_delete_sh.rst
  docs/source/csmdb/index.rst
Labels: Comp: CSM, Comp: CSM.db, Status: Verify, Type: Documentation

#466 bb:Fix problem when multiple contributors are on a CN and bbServer co…
  bb/src/BBTagInfo.cc
  bb/src/ContribFile.h
  bb/src/ContribIdFile.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Closed, Type: Defect
