Repository IBM/CAST, pull requests merged in 2018-10, with the labels that each got.

#295 bb: Minor wrapper change
  bb/wrappers/bbapi_main.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 4, Status: Open, Type: Defect

#280 add debug/test env-data source
  csmd/src/daemon/include/bucket_item_type_definitions.h
  csmd/src/daemon/include/csm_bds_keys.h
  csmd/src/daemon/include/csm_environmental_data.h
  csmd/src/daemon/src/csm_environmental_data.cc
  csmd/src/daemon/src/csmi_request_handler/csm_environmental_handler.cc
Labels: Comp: CSM.bds, Comp: CSM.infra, PhaseFound: Development, Sev: 4

#292 Reset OCC CSM sensor min and max values whenever environmental data is collected
  csmd/src/daemon/src/csm_environmental_data.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/OCCSensorData.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/OCCSensorData.h
Labels: Comp: CSM, Sev: 2

#297 added in a feature to the /opt/ibm/csm/db/csm_db_stats.sh script, w…
  csmdb/sql/csm_db_stats.sh
Labels: Comp: CSM, Comp: CSM.bds, Comp: CSM.db, Type: Support Request

#298 CSM ENV: remove GPU temperature sensors with invalid values from collected data
  csmd/src/daemon/src/csm_environmental_data.cc
Labels: Comp: CSM, Sev: 3

#303 dev dlherms
  bb/src/LVUtils.cc
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/nodecontroller.cc
  bb/src/nodecontroller_csm.cc
  bb/src/xfer.cc
  bb/wrappers/bbapiAdmin.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect

#279 non-blocking BDS connect
  csmd/src/daemon/src/csm_bds_manager.cc
  csmnet/src/CPP/endpoint_ptp.h
Labels: Comp: CSM.infra, PhaseFound: Development, Sev: 3, Type: Defect

#300 remove the temp file
  csmd/src/inv/ib_and_switch/src/standalone_ib_and_switch_collection.cc
Labels: Comp: CSM, Comp: CSM.inventory, PhaseFound: Development, Sev: 4, Type: Defect

#305 limiting BDS reconnect frequency
  csmconf/csm_aggregator.cfg
  csmd/src/daemon/include/bds_info.h
  csmd/src/daemon/include/csm_bds_manager.h
  csmd/src/daemon/src/csm_bds_manager.cc
  csmd/src/daemon/src/csm_daemon_config.cc
Labels: Comp: CSM.infra, PhaseFound: Development, Sev: 3, Type: Story

#315 Adding improved debugging for issue #312
  csmdb/sql/csm_create_triggers.sql
Labels: Comp: CSM, Comp: CSM.db, Sev: 3, Status: Verify, Type: Defect

#314 csm: candidate solution for #311 preventing additional output or errors
  csmd/src/daemon/src/csm_daemon.cc
  csmd/src/daemon/src/csm_daemon_config.cc
Labels: Comp: CSM.infra, PhaseFound: Development, Sev: 4, Type: Defect

#320 Fixes for big data use cases
  csm_big_data/python/cast_helper.py
  csm_big_data/python/findJobKeys.py
  csm_big_data/python/findJobMetrics.py
  csm_big_data/python/findJobsInRange.py
  csm_big_data/python/findJobsRunning.py
Labels: Comp: CSM, Comp: CSM.bds, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#319 change the starting pointer location for the search
  utilities/src/string_tools.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 4, Status: Open, Type: Defect

#323 Numeric types are now JSON compliant for environmental collection.
  csmd/src/daemon/src/csm_environmental_data.cc
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.bds, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#329 Cleanup of usecases and install guide.
  csm_big_data/python/findJobKeys.py
  csm_big_data/python/findJobsInRange.py
  csm_big_data/python/findJobsRunning.py
  csm_big_data/python/findUserJobs.py
  docs/source/cast-big-data/elasticsearch.rst
  docs/source/cast-big-data/index.rst
  docs/source/cast-big-data/python-guide.rst
Labels: Comp: CSM, Comp: CSM.bds, PhaseFound: IST, Sev: 3, Status: Verify, Type: Documentation

#306 hcdiag: Fix missing 'warn' key in VERBOSE_LEVEL
  hcdiag/src/framework/hcdiag_run.py
Labels: Comp: CSM, Comp: CSM.diag, Sev: 3

#332 Archive json fix
  csm_big_data/logstash/config/logstash_filebeats.conf
  csmdb/sql/CMakeLists.txt
  csmdb/sql/csm_db_clear_archive_time.py
  csmdb/sql/csm_db_history_archive.py
Labels: Comp: CSM, Comp: CSM.bds, Comp: CSM.db, PhaseFound: Customer, Sev: 2, Status: Verify, Type: Defect

#335 Node inventory db history tests
  csmtest/buckets/basic/node_inventory_db_history.sh
Labels: Comp: CSM.fvt, Sev: 3

#338 Ufm inventory updates
  csmd/src/daemon/src/csmi_request_handler/CSMIIbCableInventoryCollection.cc
  csmd/src/daemon/src/csmi_request_handler/CSMISwitchChildrenInventoryCollection.cc
  csmd/src/daemon/src/csmi_request_handler/CSMISwitchInventoryCollection.cc
  csmd/src/inv/ib_and_switch/src/standalone_ib_and_switch_collection.cc
  csmdb/sql/csm_create_triggers.sql
  csmi/include/csm_types/struct_defs/inv/csm_ib_cable_inventory_collection_output.def
  csmi/include/csm_types/struct_defs/inv/csm_switch_children_inventory_collection_output.def
  csmi/include/csm_types/struct_defs/inv/csm_switch_inventory_collection_output.def
  csmi/include/csm_types/struct_defs/inv/type_order.def
  csmi/include/csmi_type_inv.h
  csmi/src/inv/src/csmi_inv_internal.c
  csmi/src/inv/src/csmi_inv_python.cc
Labels: Comp: CSM, Comp: CSM.db, Comp: CSM.inventory, PhaseFound: Development, Sev: 2, Type: Epic

#341 Environment JSON fixes
  csmd/src/daemon/src/csm_environmental_data.cc
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.bds, PhaseFound: FVT, Sev: 1, Status: Verify, Type: Defect

#346 csmdb_updates: added in a couple new queries to the csm_db_stats.sh s…
  csmdb/sql/csm_db_stats.sh
  docs/source/csmdb/csm_db_script_sh.rst
  docs/source/csmdb/csm_db_stats_sh.rst
Labels: Comp: CSM, Comp: CSM.db, PhaseFound: Customer, Type: Documentation

#344 BDS msg caching at aggregator
  csmconf/csm_aggregator.cfg
  csmd/src/daemon/include/bds_info.h
  csmd/src/daemon/include/csm_bds_event.h
  csmd/src/daemon/include/csm_bds_manager.h
  csmd/src/daemon/src/csm_bds_manager.cc
  csmd/src/daemon/src/csm_daemon_config.cc
  csmd/src/daemon/src/csm_event_sinks/csm_sink_bds.h
Labels: Comp: CSM.bds, Comp: CSM.infra, PhaseFound: Development, Type: Story

#354 Documentation enhancements and usecase bug fixes.
  csm_big_data/elasticsearch/mappings/templates/cast-allocation.json
  csm_big_data/elasticsearch/mappings/templates/cast-counters-gpfs.json
  csm_big_data/elasticsearch/mappings/templates/cast-counters-ufm.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-dimm-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-gpu-counters.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-gpu-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-node-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-processor-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-db-csm.json
  csm_big_data/elasticsearch/mappings/templates/cast-log-console.json
  csm_big_data/elasticsearch/mappings/templates/cast.json
  csm_big_data/python/findWeightedErrors.py
  csm_big_data/python/sampleWeightedErrorMap.json
  docs/source/cast-big-data/csm-event-correlator.rst
  docs/source/cast-big-data/kibana.rst
  docs/source/cast-big-data/logstash.rst
  docs/source/csmdb/csm_db_stats_sh.rst
Labels: Comp: CSM, Comp: CSM.bds, PhaseFound: Development, Sev: 3, Status: Verify, Type: Defect, Type: Documentation

#357 Dev dlherms
  bb/src/BBTransferDef.cc
  bb/src/LVUtils.cc
  bb/src/bbinternal.h
  bb/src/bbproxy.cc
  bb/src/fh.cc
  bb/src/fh.h
  bb/wrappers/bbapi.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#363 bb: If a file handle registry entry is not removed because of a concu…
  bb/src/bbproxy.cc
  bb/src/fh.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#362 csmdb_update: added in 'HARD_FAILURE' to the TYPE compute_node_states…
  csmdb/sql/csm_create_tables.sql
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_db_schema_version_data.csv
  csmdb/sql/csm_delete_data.sql
  csmdb/sql/csm_drop_functions.sql
  csmdb/sql/csm_drop_tables.sql
Labels: Comp: CSM, Comp: CSM.db, Comp: CSM.ras, PhaseFound: Development

#361 csm: adding initial documentation for daemon and api configuration
  docs/source/csmd/csm_daemon.rst
  docs/source/csmd/index.rst
  docs/source/index.rst
Labels: Comp: CSM, Type: Documentation

#365 bb: Fix SIGSEGV introduced by pull request #363
  bb/src/fh.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 1, Status: Open, Type: Defect

#367 bb: Properly clear bberror in BBTransferDefs::restartTransfers() if a…
  bb/src/BBTransferDef.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect

#369 csm: extended csmd docs
  docs/source/csmd/csm_daemon.rst
Labels: Comp: CSM, Type: Documentation

#374 bb: For stop/restart multiple transfer definitions, properly set the …
  bb/src/BBTransferDef.cc
  bb/src/bbserver.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#370 CSM RAS: Add support for HARD_FAILURE node state to RAS Master
  csmd/src/daemon/src/csmi_request_handler/CSMIRasEventCreate.cc
  csmdb/sql/csm_ras_type_data.csv
  csmi/include/csm_api_consts.h
  csmi/include/csm_types/enum_defs/common/csmi_node_state.def
  csmi/include/csm_types/enum_defs/common/type_order.def
  csmi/include/csmi_type_common.h
  csmi/src/common/src/csmi_common_serial.c
  csmi/src/common/src/csmi_python.cc
  csmi/src/ras/cmd/ras_msg_type_create.c
  csmi/src/ras/cmd/ras_msg_type_update.c
  csmi/src/ras/src/csmi_ras_msg_type_create.c
  csmi/src/ras/src/csmi_ras_msg_type_update.c
Labels: Comp: CSM.ras, Sev: 2, Type: Story

#376 bb: For restart, when closing file handles opened by the restart acti…
  bb/src/LVUtils.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#353 CSM RAS: Add CSM RAS msg types for UFM Events
  csmd/src/ras/ufm/convert_ufm_policy_to_csm_ras_types.sh
  csmd/src/ras/ufm/ufm_csm_ras_type_data.csv
Labels: Comp: CSM.ras, PhaseFound: Development, Sev: 2, Type: Story

#380 CSM API: Added call to csm_init_struct in csmi_ras_event_create to initialize struct version_id
  csmi/src/ras/src/csmi_ras_event_create.c
Labels: Comp: CSM.api, PhaseFound: Development, Sev: 2, Type: Defect

#383 bb: Wrapper changes for improved testing
  bb/wrappers/Procedures.py
  bb/wrappers/RunProcedure.py
  bb/wrappers/bb.py
  bb/wrappers/bbapiAdmin.py
  bb/wrappers/bbapiAdminProcs.py
  bb/wrappers/bbapi_main.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect
