Repository IBM/CAST, pull requests merged in 2018-08, with the labels that each got.

#197 Improve system integrity
  bb/src/BBTagInfoMap2.cc
  bb/src/BBTagInfoMap2.h
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/xfer.cc
  bb/src/xfer.h
Labels: Comp: Burst Buffer, PhaseFound: Customer, Sev: 2, Status: Open, Type: Customer Requirement

#199 bb:Use the real connection name for both message volleys in start tra…
  bb/src/LVUtils.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#200 bb:Wrapper changes
  bb/wrappers/Procedures.py
  bb/wrappers/bb.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect

#198 Overhaul of CSM FVT for hcdiag: First pass for basic bucket
  csmtest/buckets/basic/hcdiag.sh
  csmtest/include/hcdiag/test.properties
Labels: Comp: CSM.diag, Comp: CSM.fvt, Sev: 3, Status: Open, Type: Test Case Added, Type: Test Case Request

#203 bb:For local/remote cp failures, properly propagate the FAILED status…
  bb/src/ContribIdFile.cc
  bb/src/LVUtils.cc
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#205 bb:When creating the jobstepid/handle directories, close the window l…
  bb/src/BBTagInfoMap.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#202 CSM FVT regression test cases for hcdiag that require clustconf.yaml
  csmtest/buckets/basic/hcdiag.sh
  csmtest/include/hcdiag/clustconf.yaml
  csmtest/tools/complete_fvt.sh
Labels: Comp: CSM.diag, Comp: CSM.fvt, Sev: 3, Status: Open, Type: Test Case Added, Type: Test Case Request

#204 Hotfix - csm_allocation_query_active_all
  csmi/src/wm/cmd/allocation_query_active_all.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect, Type: Test Case Request

#211 bb:Honor a return code value from bbProxy in sendTransferCompleteForF…
  bb/src/BBTagInfo2.cc
  bb/src/bbproxy.cc
  bb/src/connections.cc
  bb/src/connections.h
  transport/scripts/txpConfig.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#217 bb:Additional console logging for uuid information for LVs and files
  bb/src/BBTagInfo2.cc
  bb/src/bbserver.cc
  bb/src/connections.cc
  utilities/src/util.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect

#218 BDS Usecase enhancements
  csm_big_data/Use-Cases/elasticTest.py
  csm_big_data/Use-Cases/findJobKeys.py
  csm_big_data/elasticsearch/mappings/templates/cast-allocation.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-node-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-processor-env.json
  csm_big_data/python/ReadMe.md
  csm_big_data/python/elasticTest.py
  csm_big_data/python/findJobKeys.py
  csm_big_data/python/findJobMetrics.py
  csm_big_data/python/findJobTimeRange.py
  csm_big_data/python/findJobsRunning.py
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationAgentUpdateState.cc
  csmi/src/wm/cmd/allocation_query_active_all.c
  docs/README.rst
Labels: Comp: CSM, Comp: CSM.bds, PhaseFound: Development, Sev: 2, Status: Verify, Type: Epic

#220 CSM FVT basic bb bucket updated for csm_bb_lv_create
  csmtest/buckets/basic/bb.sh
Labels: Comp: CSM.fvt, Sev: 2, Status: Verify, Type: Test Case Added, Type: Test Case Request

#207 Logs
  csmutil/csm_log_utility/Helper_Files/Aggregator_Stat.py
  csmutil/csm_log_utility/Helper_Files/Computer_Stat.py
  csmutil/csm_log_utility/Helper_Files/Log_Object.py
  csmutil/csm_log_utility/Helper_Files/Master_Stat.py
  csmutil/csm_log_utility/Helper_Files/Utility_Stat.py
Labels: Comp: CSM, PhaseFound: Development, Sev: 3, Status: Open, Type: Epic, Type: Test Case Request

#209 csm_db_schema_version_upgrade_16_0.sh_and_more
  csmdb/sql/CMakeLists.txt
  csmdb/sql/csm_create_tables.sql
  csmdb/sql/csm_db_backup_script_v1.sh
  csmdb/sql/csm_db_connections_script.sh
  csmdb/sql/csm_db_ras_type_script.sh
  csmdb/sql/csm_db_schema_version_data.csv
  csmdb/sql/csm_db_schema_version_upgrade_16_0.sh
  csmdb/sql/csm_db_script.sh
  csmdb/sql/csm_db_stats.sh
  csmdb/sql/csm_delete_data.sql
  csmdb/sql/csm_drop_tables.sql
Labels: Comp: CSM, Comp: CSM.db, PhaseFound: Development

#224 Feature new/csm node find job
  csmd/src/daemon/include/csm_event_routing.h
  csmd/src/daemon/src/CMakeLists.txt
  csmd/src/daemon/src/csm_event_routing_master.cc
  csmd/src/daemon/src/csmi_request_handler/CSMINodeFindJob.cc
  csmd/src/daemon/src/csmi_request_handler/CSMINodeFindJob.h
  csmi/include/csm_api_inventory.h
  csmi/include/csm_types/struct_defs/inv/csm_node_find_job_input.def
  csmi/include/csm_types/struct_defs/inv/csm_node_find_job_output.def
  csmi/include/csm_types/struct_defs/inv/csmi_node_find_job_record.def
  csmi/include/csm_types/struct_defs/inv/type_order.def
  csmi/include/csmi_type_inv.h
  csmi/include/csmi_type_inv_funct.h
  csmi/src/common/include/csmi_cmds_def.h
  csmi/src/inv/cmd/CMakeLists.txt
  csmi/src/inv/cmd/node_find_job.c
  csmi/src/inv/include/csmi_inv_internal.h
  csmi/src/inv/src/csmi_inv_internal.c
  csmi/src/inv/src/csmi_inv_python.cc
  csmi/src/inv/src/csmi_inv_serialization.c
  csmi/src/inv/src/csmi_node_find_job.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 3, Status: Open, Type: Epic, Type: Test Case Request

#223 Big Data Store Documentation improvement
  docs/source/cast-big-data/beats.rst
  docs/source/cast-big-data/csm-event-correlator.rst
  docs/source/cast-big-data/data-aggregators.rst
  docs/source/cast-big-data/elasticsearch.rst
  docs/source/cast-big-data/index.rst
  docs/source/cast-big-data/kibana.rst
  docs/source/cast-big-data/logstash.rst
  docs/source/cast-big-data/python-guide.rst
  docs/source/cast-big-data/timeline.rst
  docs/source/conf.py
Labels: Comp: CSM, Comp: CSM.bds, PhaseFound: Development, Sev: 3, Status: Verify, Type: Story

#235 add missing csmenv option to csm_ctrl command
  csmd/src/daemon/src/csmi_request_handler/csm_ctrl_cmd_handler.cc
  csmd/src/daemon/src/csmi_request_handler/ctrl_cmd_option.h
  csmd/src/daemon/tests/csm_ctrl_cmd.cc
Labels: Comp: CSM.infra, PhaseFound: Development, Sev: 2
