Repository IBM/CAST, pull requests merged in 2018-06, with the labels that each got.

#84 Report stderr, nvme fix
  hcdiag/src/tests/chk-nvme/chk-nvme.pm
  hcdiag/src/tests/chk-nvme/chk-nvme.sh
  hcdiag/src/tests/ipoib/ipoib.pm
  hcdiag/src/tests/swhealth/swhealth.pm
Labels: Comp: CSM.diag

#77 csm: change default netmgr polling loops to 10 on compute daemons
  csmd/src/daemon/src/csm_daemon_config.cc
Labels: Comp: CSM.infra, Status: Open

#85 Miscellaneous bb wrapper change having non-zero contribs waiting long…
  bb/wrappers/bb.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 4, Status: Open, Type: Defect

#49 selecting aggregators for multicast msgs
  csmd/src/daemon/include/csm_daemon_state.h
  csmd/src/daemon/include/csm_node_set.h
  csmd/src/daemon/src/csm_daemon_network_manager.cc
  csmd/src/daemon/src/csm_daemon_state.cc
  csmd/src/daemon/tests/csm_nodeset_test.cc
Labels: Comp: CSM, Comp: CSM.infra, PhaseFound: Development, Type: Story

#88 Dev dlherms
  bb/src/BBTagInfoMap2.cc
  bb/src/bbproxy.cc
  bb/wrappers/bbapiAdmin.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect

#91 dev dlherms
  bb/src/BBLVKey_ExtentInfo.cc
  bb/src/BBLVKey_ExtentInfo.h
  bb/src/BBTagInfo2.cc
  bb/src/BBTagInfo2.h
  bb/src/BBTransferDef.cc
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/xfer.cc
  bb/wrappers/bbapi.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#99 dev dlherms
  bb/src/BBTagInfo.cc
  bb/src/HandleFile.h
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#87 Feature improvement/switch query
  csmd/src/daemon/src/csmi_request_handler/CSMISwitchAttributesQuery.cc
  csmi/include/csm_types/struct_defs/inv/csm_switch_attributes_query_input.def
  csmi/include/csm_types/struct_defs/inv/type_order.def
  csmi/include/csmi_type_inv.h
  csmi/src/inv/cmd/switch_attributes_query.c
  csmi/src/inv/src/csmi_inv_internal.c
  csmi/src/inv/src/csmi_inv_python.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 4, Status: Open, Type: Epic, Type: Test Case Request

#98 Feature: transaction log
  csm_big_data/logstash/config/logstash_filebeats.conf
  csmconf/csm_master.cfg
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationCreate.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationCreate.h
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationDelete.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationUpdateState.cc
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_drop_functions.sql
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_context.def
  csmi/include/struct_generator/generate_print_formatter.pl
  csmi/src/CMakeLists.txt
  csmi/src/common/include/csmi_common_generated.h
  csmi/src/common/include/csmi_json.h
  csmi/src/common/include/csmi_struct_hash.h
  csmi/src/common/src/csmi_json.cc
  csmi/src/common/src/csmi_struct_hash.c
  csmi/src/wm/include/csmi_wm_type_internal.h
  csmi/src/wm/src/csmi_wm_internal.c
  docs/source/cast-big-data/data-aggregators.rst
  docs/source/cast-big-data/logstash.rst
  docs/source/cast-big-data/scratch.rst
  utilities/include/logging.h
  utilities/src/logging.cc
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.bds, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect, Type: Story, Type: Test Case Request

#47 The multicast message creator now sorts the node list before pushing …
  csmd/src/daemon/src/csmi_request_handler/csmi_handler_state.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_handler_state.h
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 3, Status: Verify, Type: Story

#105 bb:Message modifications
  bb/src/bbproxy.cc
  bb/wrappers/bbapi.py
  bb/wrappers/bbapiAdmin.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Documentation

#110 Migrating CSM Regression test scripts from private GHE repo to public IBM/CAST repo
  .gitignore
  csmtest/README.md
  csmtest/analytics/timing_processing_tool.py
  csmtest/buckets/advanced/allocation.sh
  csmtest/buckets/basic/allocation.sh
  csmtest/buckets/basic/bb.sh
  csmtest/buckets/basic/compute_node.sh
  csmtest/buckets/basic/csm_ctrl_cmd.sh
  csmtest/buckets/basic/db_script.sh
  csmtest/buckets/basic/hcdiag.sh
  csmtest/buckets/basic/ib_inventory.sh
  csmtest/buckets/basic/inventory_collection.sh
  csmtest/buckets/basic/jsrun_cmd.sh
  csmtest/buckets/basic/node.sh
  csmtest/buckets/basic/ras.sh
  csmtest/buckets/basic/step.sh
  csmtest/buckets/basic/switch_inventory.sh
  csmtest/buckets/error_injection/allocation.sh
  csmtest/buckets/error_injection/bb.sh
  csmtest/buckets/error_injection/ib_inventory.sh
  csmtest/buckets/error_injection/infrastructure.sh
  csmtest/buckets/error_injection/node.sh
  csmtest/buckets/error_injection/switch_inventory.sh
  csmtest/buckets/error_injection/versioning.sh
  csmtest/config.template
  csmtest/include/functions.sh
  csmtest/include/jsrun_cmd_test_script.sh
  csmtest/include/sql/ib.sql
  csmtest/include/sql/ssd.sql
  csmtest/include/sql/switch.sql
  csmtest/setup/csm_dual_aggregator_setup.sh
  csmtest/setup/csm_install.sh
  csmtest/setup/csm_setup.sh
  csmtest/setup/csm_uninstall.sh
  csmtest/tools/complete_fvt.sh
  csmtest/tools/dual_aggregator/daemon_status.sh
  csmtest/tools/dual_aggregator/shutdown_daemons.sh
  csmtest/tools/dual_aggregator/start_daemons.sh
  csmtest/tools/single_aggregator/daemon_status.sh
  csmtest/tools/single_aggregator/shutdown_daemons.sh
  csmtest/tools/single_aggregator/start_daemons.sh
Labels: Comp: CSM.fvt

#113 dev dlherms
  bb/src/connections.cc
  transport/src/Attribute.cc
  transport/src/Msg.cc
  transport/tests/allTests.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#64 Cgroup improvement, added additional task migration
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastResponder.h
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 3, Status: Verify, Type: Defect, Type: Test Case Request

#106 Feature step transaction
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationCreate.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationStepBegin.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationStepEnd.cc
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_drop_functions.sql
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_step_mcast_context.def
  csmi/include/struct_generator/generate_struct.pl
  csmi/src/bb/src/csmi_bb_internal.c
  csmi/src/common/include/csmi_struct_hash.h
  csmi/src/common/src/csmi_json.cc
  csmi/src/common/src/csmi_struct_hash.c
  csmi/src/diag/src/csmi_diag_internal.c
  csmi/src/inv/src/csmi_inv_internal.c
  csmi/src/ras/src/csmi_ras_internal.c
  csmi/src/wm/include/csmi_wm_type_internal.h
  csmi/src/wm/src/csmi_wm_internal.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 3, Status: Verify, Type: Story

#95 csm: fix client-to-daemon large message protocol
  csmd/src/daemon/src/csm_daemon_network_manager.cc
  csmi/src/common/src/csmi_common_utils.c
  csmnet/src/C/csm_network_internal_api_c.h
  csmnet/src/C/csm_network_local.c
  csmnet/src/C/csm_network_msg_c.h
  csmnet/src/CPP/endpoint_buffer.h
Labels: Comp: CSM.infra, Sev: 2, Status: Verify

#117 dev dlherms
  bb/src/BBTagInfoMap2.cc
  bb/src/HandleFile.cc
  bb/src/HandleFile.h
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#114 Diagnostic fix
  csmdb/sql/csm_create_triggers.sql
Labels: Comp: CSM, Comp: CSM.db, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#116 Feature/gpu environmental bds integration
  csmconf/csm_aggregator.cfg
  csmd/include/csm_daemon_config.h
  csmd/src/daemon/include/bds_info.h
  csmd/src/daemon/include/csm_bds_event.h
  csmd/src/daemon/include/csm_bds_manager.h
  csmd/src/daemon/include/csm_daemon_core.h
  csmd/src/daemon/include/csm_daemon_state.h
  csmd/src/daemon/include/csm_environmental_data.h
  csmd/src/daemon/include/csm_event_sink.h
  csmd/src/daemon/include/csm_event_type_definitions.h
  csmd/src/daemon/src/CMakeLists.txt
  csmd/src/daemon/src/csm_bds_manager.cc
  csmd/src/daemon/src/csm_daemon.cc
  csmd/src/daemon/src/csm_daemon_config.cc
  csmd/src/daemon/src/csm_daemon_core.cc
  csmd/src/daemon/src/csm_daemon_state.cc
  csmd/src/daemon/src/csm_environmental_data.cc
  csmd/src/daemon/src/csm_event_sinks/csm_sink_bds.h
  csmd/src/daemon/src/csmi_request_handler/csm_envdata_handler.cc
  csmd/src/daemon/src/csmi_request_handler/csm_environmental_handler.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_base.h
  csmd/src/inv/include/inv_dcgm_access.h
  csmd/src/inv/src/inv_dcgm_access.cc
  csmi/src/common/include/csm_cmds_internal_def.h
Labels: Comp: CSM, Type: Story

#122 bb:For resume processing, do not delay if the work queue is not yet p…
  bb/src/BBTagInfo2.cc
  bb/src/BBTagInfoMap2.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#127 bb:Properly compare specified hostname to CN hostname for suspend, r…
  bb/src/bbproxy.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#130 dev dlherms
  bb/src/BBTagInfoMap2.cc
  bb/src/bbinternal.h
  bb/src/bbwrkqmgr.cc
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#132 dev dlherms
  bb/src/BBTransferDef.cc
  bb/src/BBTransferDef.h
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.h
  bb/src/xfer.cc
  bb/wrappers/bb.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#134 bb:After processing all async requests, record the correct file seqnb…
  bb/src/bbwrkqmgr.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#118 Allocation error enhancements
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationAgentUpdateState.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Customer, Sev: 2, Status: Verify, Type: Defect
