Repository IBM/CAST, pull requests merged in 2018-05, with the labels that each got.

#8 Fixing bug with String deserialization where Strings weren't properly…
  csmi/src/common/include/csm_serialization_x_macros.h
Labels: Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#13 updated csmd versioning to use major.cumulative.efix format instead of git commit
  csmd/src/daemon/src/csm_daemon_config.cc
  csmnet/include/csm_network_config.h
  csmnet/src/CPP/csm_version_msg.cc
  csmnet/src/CPP/csm_version_msg.h
  csmnet/src/CPP/reliable_msg.cc
  csmnet/tests/CMakeLists.txt
  csmnet/tests/csm_version_msg_test.cc
  csmutil/include/CMakeLists.txt
Labels: Comp: CSM.infra

#17 supported CSM versions update and API cmd ID rework
  csmi/src/common/include/csmi_cmds.h
  csmi/src/common/include/csmi_cmds_def.h
  csmnet/src/CPP/csm_version_msg.cc
  csmnet/tests/csm_version_msg_test.cc
Labels: Comp: CSM.api, Comp: CSM.infra

#12 CSM Inventory: fix potential seg fault issue
  csmd/src/inv/ib_and_switch/src/standalone_ib_and_switch_collection.cc
Labels: Comp: CSM.inventory

#22 fix for issue #21
  csmnet/src/CPP/endpoint_ptp.cc
Labels: Comp: CSM.infra

#33 Burst buffer restart/failover related changes
  bb/src/BBTagInfo.cc
  bb/src/BBTagInfo2.cc
  bb/src/BBTagInfoMap2.cc
  bb/src/BBTransferDef.cc
  bb/src/ContribIdFile.cc
  bb/src/LVUuidFile.cc
  bb/src/bbserver.cc
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect

#34 Allocation Delete failures now save metrics if possible.
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationAgentUpdateState.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcast.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastAllocation.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastResponder.h
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_payload_response.def
  csmi/include/csm_types/struct_defs/wm/type_order.def
  csmi/src/wm/include/csmi_wm_type_internal.h
  csmi/src/wm/src/csmi_wm_internal.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 3, Status: Verify, Type: Defect, Type: Test Case Request

#37 bb: Changes related to restart/failover
  bb/src/BBTagInfo.cc
  bb/src/bbserver.cc
  bb/src/xfer.cc
  scripts/prereq.pl
  scripts/rebuild
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect

#41 Fixing data aggregator function parameters.
  csmd/src/daemon/src/csmi_request_handler/helpers/DataAggregators.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/DataAggregators.h
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#24 Fixed the sign of the number of nodes in the allocation step structs.
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationStepEnd.cc
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_step_mcast_context.def
  csmi/include/csm_types/struct_defs/wm/type_order.def
  csmi/src/wm/include/csmi_wm_type_internal.h
  csmi/src/wm/src/csmi_wm_internal.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Customer, Sev: 2, Status: Verify, Type: Defect

#40 Added launch_node_name argument to csm_allocation_create commandline.
  csmi/src/wm/cmd/allocation_create.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 3, Status: Verify, Type: Story, Type: Test Case Request

#54 bb: Reduce default console logging for bbServer
  bb/src/BBTagInfo.cc
  bb/src/BBTagInfo2.cc
  bb/src/BBTagInfoMap2.cc
  bb/src/BBTransferDef.cc
  bb/src/bbio.cc
  bb/src/bbio_regular.cc
  bb/src/bbserver.cc
  bb/src/fh.cc
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 4, Status: Open, Type: Defect

#45 Feature csm api cluster query state
  csmd/src/daemon/include/csm_event_routing.h
  csmd/src/daemon/src/CMakeLists.txt
  csmd/src/daemon/src/csm_event_routing_master.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIClusterQueryState.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIClusterQueryState.h
  csmi/include/csm_api_inventory.h
  csmi/include/csm_types/struct_defs/inv/csm_cluster_query_state_input.def
  csmi/include/csm_types/struct_defs/inv/csm_cluster_query_state_output.def
  csmi/include/csm_types/struct_defs/inv/csmi_cluster_query_state_record.def
  csmi/include/csm_types/struct_defs/inv/type_order.def
  csmi/include/csmi_type_inv.h
  csmi/include/csmi_type_inv_funct.h
  csmi/src/common/include/csmi_cmds_def.h
  csmi/src/inv/cmd/CMakeLists.txt
  csmi/src/inv/cmd/cluster_query_state.c
  csmi/src/inv/include/csmi_inv_internal.h
  csmi/src/inv/src/csmi_cluster_query_state.c
  csmi/src/inv/src/csmi_inv_internal.c
  csmi/src/inv/src/csmi_inv_python.cc
  csmi/src/inv/src/csmi_inv_serialization.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 4, Status: Open, Type: Epic, Type: Test Case Request

#57 csm_allocation_update_state private check bug fix
  csmconf/csm_api.acl
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationUpdateState.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationUpdateState.h
Labels: Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect, Type: Support Request, Type: Test Case Added

#68 bb: Minor wrapper formatting changes
  bb/wrappers/bb.py
  bb/wrappers/bbapi.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 4, Status: Open, Type: Defect

#71 bb: Additional reduction in console logging
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/connections.cc
  transport/include/Msg.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 4, Status: Open, Type: Defect

#66 candidate fix for #65
  csmnet/src/CPP/reliable_msg.cc
Labels: Comp: CSM.infra, PhaseFound: IST, Sev: 1, Type: Defect

#60 enable ctrl-cmd to reset primary/secondary connection status according to config
  csmd/src/daemon/include/connection_handling.h
  csmd/src/daemon/include/csm_daemon_network_manager.h
  csmd/src/daemon/include/csm_daemon_state.h
  csmd/src/daemon/include/csm_event_sink.h
  csmd/src/daemon/include/csm_system_event.h
  csmd/src/daemon/src/connection_handling.cc
  csmd/src/daemon/src/csm_daemon_core.cc
  csmd/src/daemon/src/csm_daemon_network_manager.cc
  csmd/src/daemon/src/csm_daemon_state.cc
  csmd/src/daemon/src/csm_event_sinks/csm_sink_system.h
  csmd/src/daemon/src/csmi_request_handler/csm_ctrl_cmd_handler.cc
  csmd/src/daemon/src/csmi_request_handler/ctrl_cmd_option.h
  csmd/src/daemon/tests/csm_ctrl_cmd.cc
  csmnet/include/csm_network_header.h
  csmnet/src/CPP/network_ctrl_path.h
  csmnet/src/CPP/reliable_msg.cc
Labels: Comp: CSM.api, Comp: CSM.infra, PhaseFound: Development, Type: Story

#59 Cgroup Debug/Error Logging
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.h
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 4, Status: Verify, Type: Defect

#75 dev-dlherms
  bb/src/BBTagInfo.cc
  bb/src/HandleFile.cc
  bb/src/HandleFile.h
  bb/src/bbapi.cc
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/xfer.cc
  bb/wrappers/bbapi.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#82 Dev dlherms
  bb/src/BBTagInfo.cc
  bb/src/BBTransferDef.cc
  bb/src/HandleFile.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect
