Repository IBM/CAST, pull requests merged in 2018-09, with the labels that each got.

#36 Enabling python for gcc.
  csmi/src/CMakeLists.txt
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 4, Status: Verify, Type: Story

#240 non-blocking connection review
  csmnet/src/CPP/endpoint_ptp.h
  csmnet/src/CPP/endpoint_ptp_sec.cc
  csmnet/src/CPP/endpoint_ptp_sec.h
  csmnet/src/CPP/multi_endpoint.cc
Labels: Comp: CSM.infra, PhaseFound: Development

#244 Update ras trace messages for consistency and easier debugging
  csmd/src/daemon/src/csmi_request_handler/CSMIRasEventCreate.cc
Labels: Comp: CSM.ras, Sev: 3

#245 Added support for CSM processor socket inventory collection
  csmd/src/daemon/src/csmi_request_handler/InvGetNodeInventory.cc
  csmd/src/inv/include/inv_processor_inventory.h
  csmd/src/inv/src/CMakeLists.txt
  csmd/src/inv/src/inv_full_inventory.cc
  csmd/src/inv/src/inv_get_node_inventory_serialization.cc
  csmd/src/inv/src/inv_processor_inventory.cc
  csmd/src/inv/tests/CMakeLists.txt
  csmd/src/inv/tests/test_inv_processor_inventory.cc
  csmi/include/csm_api_consts.h
  csmi/src/inv/include/inv_types.h
Labels: Comp: CSM.inventory, Sev: 2, Type: Story

#252 some small cleanup
  csmd/src/daemon/include/csm_event_sink_set.h
  csmd/src/daemon/src/connection_handling.cc
  csmd/src/daemon/src/csm_daemon_config.cc
  csmd/src/daemon/src/csm_daemon_core.cc
  csmd/src/daemon/src/csm_event_sink_set.cc
  csmnet/src/CPP/csm_version_msg.h
  csmnet/src/CPP/multi_endpoint.cc
Labels: Comp: CSM.infra, PhaseFound: Development, Sev: 4, Status: Open, Type: Defect

#258 dev dlherms
  bb/src/BBTagInfo2.cc
  bb/src/BBTagInfo2.h
  bb/src/BBTagInfoMap2.cc
  bb/src/BBTransferDef.cc
  bb/src/CMakeLists.txt
  bb/src/LVUtils.cc
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/connections.cc
  bb/src/fh.cc
  bb/src/fh.h
  bb/src/tracksyscall.cc
  bb/src/tracksyscall.h
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#263 bb: Additional clarification for work queue manager dump titles
  bb/src/bbwrkqmgr.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect

#266 bb: Add wrapper procedure for GetTransferInfo
  bb/wrappers/Procedures.py
  bb/wrappers/bbapi_main.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect

#247 Fix for environmental, database and step timestamps.
  csm_big_data/elasticsearch/mappings/templates/cast-counters-gpfs.json
  csm_big_data/elasticsearch/mappings/templates/cast-counters-gpu.json
  csm_big_data/elasticsearch/mappings/templates/cast-counters-ufm.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-dimm-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-gpu-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-node-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-processor-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-db-csm.json
  csm_big_data/elasticsearch/mappings/templates/cast-log-console.json
  csm_big_data/elasticsearch/mappings/templates/cast.json
Labels: Comp: CSM.bds, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#265 Removing old python directories
  csm_big_data/Python/.gitignore
  csm_big_data/Python/CMakeLists.txt
  csm_big_data/Python/README.rst
  csm_big_data/Python/__init__.py
  csm_big_data/Python/csmbigdata/CMakeLists.txt
  csm_big_data/Python/csmbigdata/README.rst
  csm_big_data/Python/csmbigdata/__init__.py
  csm_big_data/Python/csmbigdata/config/CMakeLists.txt
  csm_big_data/Python/csmbigdata/config/README.rst
  csm_big_data/Python/csmbigdata/config/__init__.py
  csm_big_data/Python/csmbigdata/config/default_command_settings.py
  csm_big_data/Python/csmbigdata/config/default_settings.py
  csm_big_data/Python/csmbigdata/config/job_settings.py
  csm_big_data/Python/csmbigdata/config/server_settings.py
  csm_big_data/Python/csmbigdata/config/settings.py
  csm_big_data/Python/csmbigdata/config/settings_option.py
  csm_big_data/Python/csmbigdata/config/stat_settings.py
  csm_big_data/Python/csmbigdata/config/time_settings.py
  csm_big_data/Python/csmbigdata/utils/CMakeLists.txt
  csm_big_data/Python/csmbigdata/utils/README.rst
  csm_big_data/Python/csmbigdata/utils/__init__.py
  csm_big_data/Python/csmbigdata/utils/csmi_tool.py
  csm_big_data/Python/csmbigdata/utils/hive_payload.py
  csm_big_data/Python/csmbigdata/utils/output_helpers.py
  csm_big_data/Python/csmbigdata/utils/unity.py
  csm_big_data/Python/csmbigdata/utils/unity_helpers.py
  csm_big_data/Python/csmbigdata/utils/unity_payload.py
  csm_big_data/Python/elastic_tests/elasticTest.py
  csm_big_data/Python/setup.py
  csm_big_data/Python/tests/csmbigdata/config/context.py
  csm_big_data/Python/tests/csmbigdata/config/test_all.sh
  csm_big_data/Python/tests/csmbigdata/test_all.sh
  csm_big_data/Python/tests/csmbigdata/utils/context.py
  csm_big_data/Python/tests/csmbigdata/utils/test_all.sh
  csm_big_data/Python/tests/csmbigdata/utils/ut_csmi_tool.py
  csm_big_data/Python/tests/usecases/__init__.py
  csm_big_data/Python/tests/usecases/config.inis/access.ini
  csm_big_data/Python/tests/usecases/config.inis/default_logging.ini
  csm_big_data/Python/tests/usecases/context.py
  csm_big_data/Python/tests/usecases/default.ini
  csm_big_data/Python/tests/usecases/test_all.sh
  csm_big_data/Python/tests/usecases/ut_find_job_keys.py
  csm_big_data/Python/tests/usecases/ut_find_job_metrics.py
  csm_big_data/Python/tests/usecases/ut_jobs_running.py
  csm_big_data/Python/tests/usecases/ut_time_range.py
  csm_big_data/Python/usecases/CMakeLists.txt
  csm_big_data/Python/usecases/README.rst
  csm_big_data/Python/usecases/__init__.py
  csm_big_data/Python/usecases/config.inis/CMakeLists.txt
  csm_big_data/Python/usecases/config.inis/README.rst
  csm_big_data/Python/usecases/config.inis/access.ini
  csm_big_data/Python/usecases/config.inis/default_logging.ini
  csm_big_data/Python/usecases/csm_bds_context.py
  csm_big_data/Python/usecases/default.ini
  csm_big_data/Python/usecases/find_job_keys.py
  csm_big_data/Python/usecases/find_job_metrics.py
  csm_big_data/Python/usecases/find_job_time_range.py
  csm_big_data/Python/usecases/find_jobs_running.py
  csm_big_data/Python/usecases/find_temp_info.py
Labels: Comp: CSM, Comp: CSM.bds, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#259 Documentation improvement and bug fix for transaction log
  csm_big_data/beats/config/filebeat.yml
  csm_big_data/data-aggregators/gpfs/zimonCollector.py
  csm_big_data/elasticsearch/mappings/templates/cast-counters-gpfs.json
  csm_big_data/elasticsearch/mappings/templates/cast-counters-ufm.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-dimm-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-gpu-counters.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-gpu-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-node-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-processor-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-environmental-node.json
  csm_big_data/elasticsearch/mappings/templates/cast-log-console.json
  csm_big_data/elasticsearch/mappings/templates/cast-log-mellanox-event.json
  csm_big_data/elasticsearch/mappings/templates/cast-log-syslog.json
  csm_big_data/logstash/config/logstash.conf
  csmdb/sql/csm_history_table_archive_template.sh
  csmi/src/common/src/csmi_json.cc
  docs/source/cast-big-data/data-aggregators.rst
  docs/source/cast-big-data/elasticsearch.rst
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.bds, PhaseFound: Customer, PhaseFound: Development, Sev: 2, Status: Verify

#273 csm: issue #260; extended log msg to include forwarded error msg
  csmd/src/daemon/src/csmi_request_handler/csmi_forward_handler.cc
Labels: Comp: CSM.infra, PhaseFound: Development, Sev: 4

#277 Fixed python library build
  csmd/src/daemon/src/csmi_request_handler/CSMIJSRUNCMD.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIJSRUNCMDAgentState.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/Agent.cc
  csmi/src/CMakeLists.txt
Labels: Comp: CSM, Comp: CSM.api, Sev: 2, Status: Verify, Type: Defect

#276 Added improved trace logging for csm_launch
  csmd/src/daemon/src/csmi_request_handler/CSMIJSRUNCMD.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIJSRUNCMDAgentState.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/Agent.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#278 dev dlherms
  bb/include/bbapi.h
  bb/src/BBLV_ExtentInfo.cc
  bb/src/BBLV_ExtentInfo.h
  bb/src/BBLV_Info.cc
  bb/src/BBLV_Info.h
  bb/src/BBLV_Metadata.cc
  bb/src/BBLV_Metadata.h
  bb/src/BBTagInfo.cc
  bb/src/BBTagInfo.h
  bb/src/BBTagInfoMap.cc
  bb/src/BBTagInfoMap.h
  bb/src/BBTagParts.cc
  bb/src/BBTagParts.h
  bb/src/BBTransferDef.cc
  bb/src/BBTransferDef.h
  bb/src/CMakeLists.txt
  bb/src/ContribIdFile.cc
  bb/src/ContribIdFile.h
  bb/src/bbflags.h
  bb/src/bbinternal.h
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqe.cc
  bb/src/bbwrkqe.h
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
  bb/src/xfer.cc
  bb/src/xfer.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect

#271 Defect/csm master config
  csmconf/csm_master.cfg
Labels: Comp: CSM

#270 Feature improvement/ufm inventory collection master
  csmd/src/inv/ib_and_switch/src/standalone_ib_and_switch_collection.cc
Labels: Comp: CSM, Comp: CSM.inventory, Epic, PhaseFound: Development, Sev: 4, Status: Open, Type: Epic, Type: Test Case Request

#281 bb: Fix error in new static ContribIdFile::isStopped()
  bb/src/ContribIdFile.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#285 bb:TODO/FIXME comment changes
  bb/src/BBLV_Info.cc
  bb/src/BBTransferDef.cc
  bb/src/LVUtils.cc
  bb/src/bbapi.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqe.cc
  bb/src/bbwrkqmgr.cc
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 4, Status: Open, Type: Documentation

#286 bb: Additional cleanup for test functions
  bb/src/BBLV_Info.cc
  bb/src/BBLV_Info.h
  bb/src/bbapi2.cc
  bb/src/bbapi2.h
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/xfer.cc
  bb/src/xfer.h
  bb/wrappers/bbapiTest.py
  bb/wrappers/bberror.py
  transport/include/Msg.h
  transport/scripts/txpConfig.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect

#282 remove bb_cmd test program from RPM
  csmi/src/bb/bb_cmds/CMakeLists.txt
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 4, Status: Open, Type: Defect

#283 csm: add switches to enable/disable recurring tasks in config
  csmconf/csm_master.cfg
  csmd/src/daemon/include/csm_recurring_tasks.h
  csmd/src/daemon/src/csm_daemon_config.cc
Labels: Comp: CSM.infra, PhaseFound: Development, Sev: 2

#251 csmdb_migration_script_16_1_with_ssd_inventory_support
  csmdb/sql/CMakeLists.txt
  csmdb/sql/csm_create_tables.sql
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_db_schema_version_data.csv
  csmdb/sql/csm_db_schema_version_upgrade_16_1.sh
  csmdb/sql/csm_delete_data.sql
  csmdb/sql/csm_drop_functions.sql
  csmdb/sql/csm_drop_tables.sql
Labels: Comp: CSM, Comp: CSM.db, Type: Test Case Request

#288 csm_jsrun improvements.
  csmd/src/daemon/src/csmi_request_handler/CSMIJSRUNCMDAgentState.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/Agent.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Customer, Sev: 2, Status: Verify, Type: Defect

#289 CSM RAS: update BMC ras msg types based on ibm-crassd-0.8-15
  csmd/src/ras/bmc/CSMpolicyTable.json
  csmd/src/ras/bmc/p9_witherspoon_csm_ras_type_data.csv
  csmdb/sql/csm_ras_type_data.csv
Labels: Comp: CSM.db, Comp: CSM.ras, Sev: 2

#290 change log and output file location for UFM inv collection
  csmd/src/inv/ib_and_switch/include/inv_switch_connector_access.h
  csmd/src/inv/ib_and_switch/src/inv_ib_connector_access.cc
  csmd/src/inv/ib_and_switch/src/inv_switch_connector_access.cc
  csmd/src/inv/ib_and_switch/src/standalone_ib_and_switch_collection.cc
Labels: Comp: CSM, Comp: CSM.inventory

#293 Documentation improvements for CSM Database and CSM configuration.
  docs/source/csm/configuration.rst
  docs/source/csm/index.rst
  docs/source/csmdb/csm_db_appendix.rst
  docs/source/csmdb/csm_db_archive_script_sh.rst
  docs/source/csmdb/csm_db_backup_script_v1_sh.rst
  docs/source/csmdb/csm_db_connections_script_sh.rst
  docs/source/csmdb/csm_db_history_delete_sh.rst
  docs/source/csmdb/csm_db_schema_version_upgrade_16_1_sh.rst
  docs/source/csmdb/csm_db_script_sh.rst
  docs/source/csmdb/csm_db_stats_sh.rst
  docs/source/csmdb/csm_ras_type_script_sh.rst
  docs/source/csmdb/index.rst
  docs/source/index.rst
Labels: Comp: CSM, Comp: CSM.db, Sev: 2, Status: Verify, Type: Story
