Repository IBM/CAST, pull requests merged in 2018-11, with the labels that each got.

#385 bb: When clearing bberror, preserve the ok2Clear attribute
  bb/src/BBTransferDef.cc
  bb/src/bberror.cc
  bb/src/bberror.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#382 1.4.0 allocation error codes
  csmd/src/daemon/src/CMakeLists.txt
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationAgentUpdateState.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationCreate.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationDelete.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_db_resp_state.h
  csmd/src/daemon/src/csmi_request_handler/csmi_handler_context.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_handler_context.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcast.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastAllocation.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastAllocation.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastResponder.h
  csmd/src/daemon/src/csmi_request_handler/csmi_stateful_db/CSMIStatefulDBRecvPrivate.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/AgentHandler.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/AgentHandler.h
  csmd/src/daemon/src/csmi_request_handler/helpers/database_helpers.h
  csmd/src/db/include/DBResult.h
  csmd/src/db/include/PostgreSql.h
  csmd/src/db/src/csm_db_event_content.cc
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_ras_type_data.csv
  csmi/include/csm_api_ras_keys.h
  csmi/include/csm_types/enum_defs/common/csmi_errors.def
  csmi/include/csm_types/enum_defs/wm/csmi_allocation_type.def
  csmi/include/csm_types/struct_defs/inv/csm_switch_children_inventory_collection_output.def
  csmi/include/csm_types/struct_defs/inv/type_order.def
  csmi/include/csmi_type_common.h
  csmi/include/csmi_type_inv.h
  csmi/include/csmi_type_wm.h
  csmi/src/common/src/csmi_common_serial.c
  csmi/src/common/src/csmi_python.cc
  csmi/src/inv/src/csmi_inv_internal.c
  csmi/src/inv/src/csmi_inv_python.cc
  csmi/src/wm/src/csmi_wm_python.cc
  csmi/src/wm/src/csmi_wm_serialization.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect, Type: Story

#386 CSM FVT Improvements
  csmtest/buckets/basic/bb.sh
  csmtest/buckets/basic/fvt_allocation_create_and_delete.py
  csmtest/buckets/basic/fvt_node_attributes_query_and_update.py
  csmtest/buckets/basic/python_libraries.sh
  csmtest/buckets/error_injection/allocation.sh
  csmtest/config.template
  csmtest/include/hcdiag/clustconf.yaml
  csmtest/setup/csm_install.sh
  csmtest/tools/complete_fvt.sh
  csmtest/tools/update_computes_in_service.sh
Labels: Comp: CSM.fvt, Status: Open, Type: Test Case Added

#384 Enabling and extending logging capabilities of csm restd
  csmconf/csmrestd.cfg
  csmrestd/src/CMakeLists.txt
  csmrestd/src/RestApiServer.cc
  csmrestd/src/csmrestd.cc
Labels: Comp: CSM, Comp: CSM.ras, PhaseFound: Development, Type: Story

#393 Fix csm_db_history_archive.py parse error
  csmdb/sql/csm_db_history_archive.py
Labels: Comp: CSM, Comp: CSM.bds, PhaseFound: Customer, Sev: 2, Type: Defect

#408 dev dlherms
  bb/src/BBLV_Info.cc
  bb/src/BBLV_Metadata.cc
  bb/src/BBLV_Metadata.h
  bb/src/bbio_regular.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqe.cc
  bb/src/bbwrkqmgr.cc
  bb/src/fh.cc
  bb/src/xfer.cc
  bb/src/xfer.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#402 a few small fixes
  Testing/Temporary/CTestCostData.txt
  csmd/src/daemon/src/csm_daemon_config.cc
  docs/source/csmd/csm_daemon.rst
Labels: Comp: CSM, PhaseFound: Development, Sev: 4

#410 Ssl config upgrade
  csmconf/csm_master.cfg
  csmd/src/inv/ib_and_switch/src/CMakeLists.txt
  csmd/src/inv/ib_and_switch/src/csm_ufm_ssl_key.txt
  csmd/src/inv/ib_and_switch/src/example_ssl.txt
  csmd/src/inv/ib_and_switch/src/standalone_ib_and_switch_collection.cc
Labels: Comp: CSM, Comp: CSM.inventory, Comp: Mellanox, PhaseFound: Development, Sev: 2, Status: Open, Type: Test Case Request

#416 CSM FVT Improvements
  csmtest/buckets/basic/inventory_collection.sh
  csmtest/buckets/error_injection/allocation.sh
  csmtest/config.template
  csmtest/include/prologs/privileged_epilog
  csmtest/include/prologs/privileged_epilog_generic
  csmtest/include/prologs/privileged_epilog_timeout
  csmtest/include/prologs/privileged_prolog
  csmtest/include/prologs/privileged_prolog_255
  csmtest/include/prologs/privileged_prolog_generic
  csmtest/include/prologs/privileged_prolog_timeout
  csmtest/setup/csm_install.sh
Labels: Comp: CSM.fvt

#413 Jsm new params
  csmd/src/daemon/src/csmi_request_handler/CSMIJSRUNCMD.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIJSRUNCMDAgentState.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastJSRUN.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastJSRUN.h
  csmd/src/daemon/src/csmi_request_handler/helpers/Agent.h
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
  csmi/include/csm_types/struct_defs/wm/csm_jsrun_cmd_input.def
  csmi/include/csm_types/struct_defs/wm/csmi_jsrun_cmd_payload.def
  csmi/src/wm/include/csmi_wm_type_internal.h
  csmi/src/wm/src/csmi_wm_internal.c
  docs/source/csm/configuration.rst
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Customer, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect, Type: Story

#400 csmdb_update: migration script 16.2 including DB indexes on history t…
  csmdb/sql/CMakeLists.txt
  csmdb/sql/csm_create_tables.sql
  csmdb/sql/csm_db_history_archive.py
  csmdb/sql/csm_db_ras_type_script.sh
  csmdb/sql/csm_db_schema_version_upgrade_16_2.sh
  csmdb/sql/csm_db_stats.sh
Labels: Comp: CSM, Comp: CSM.db, PhaseFound: Development, Sev: 2, Type: Customer Requirement

#414 csmdb_db_readthedocs_update_16_2
  docs/source/csmdb/csm_db_appendix.rst
  docs/source/csmdb/csm_db_archive_script_sh.rst
  docs/source/csmdb/csm_db_connections_script_sh.rst
  docs/source/csmdb/csm_db_history_archive_py.rst
  docs/source/csmdb/csm_db_schema_version_upgrade_16_2_sh.rst
  docs/source/csmdb/csm_db_script_sh.rst
  docs/source/csmdb/csm_db_stats_sh.rst
  docs/source/csmdb/csm_ras_type_script_sh.rst
  docs/source/csmdb/index.rst
Labels: Comp: CSM, Comp: CSM.db, PhaseFound: Development, Type: Customer Requirement

#420 CSM RAS: fixed memory leak by removing completed event contexts from _contextMap
  csmd/src/daemon/src/csmi_request_handler/CSMIRasEventCreate.cc
Labels: Comp: CSM, Comp: CSM.ras, PhaseFound: Customer, Sev: 2, Type: Defect

#390 csm: using steady clock
  csmd/src/daemon/include/csm_bds_manager.h
  csmd/src/daemon/include/csm_timer_event.h
  csmd/src/daemon/include/interval_trigger.h
  csmd/src/daemon/include/message_control.h
  csmd/src/daemon/include/throttle.h
  csmd/src/daemon/include/virtual_network_channel.h
  csmd/src/daemon/src/csm_bds_manager.cc
  csmd/src/daemon/src/csm_db_manager.cc
  csmd/src/daemon/src/csmi_request_handler/csm_infrastructure_test.h
  csmd/src/daemon/src/csmi_request_handler/csm_infrastructure_test_master.cc
  csmd/src/daemon/src/message_control.cc
  csmd/src/db/include/DBConnectionPool.h
  csmnet/src/CPP/endpoint_heartbeat.h
  csmnet/src/CPP/endpoint_multi_unix.cc
  csmnet/src/CPP/endpoint_multi_unix.h
  csmnet/src/CPP/endpoint_ptp.cc
  csmnet/src/CPP/endpoint_ptp_sec.cc
  csmnet/src/CPP/message_ack.h
Labels: Comp: CSM.infra, PhaseFound: Development, Sev: 3, Type: Story

#415 Restart Detection For Allocation Data Collection
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationAgentUpdateState.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationDelete.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationUpdateState.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastAllocation.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/Agent.h
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_drop_functions.sql
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_context.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_payload_request.def
  csmi/src/wm/include/csmi_wm_type_internal.h
  csmi/src/wm/src/csmi_wm_internal.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: FVT, Sev: 2, Status: Verify, Type: Defect

#419 CSM RAS and UFM Event integration
  csm_big_data/logstash/patterns/events.yml
Labels: Comp: CSM, Comp: CSM.ras, Comp: Mellanox, PhaseFound: Development, Sev: 2, Status: Open, Type: Epic, Type: Test Case Request

#422 Soft failure enhancement
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationCreate.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIJSRUNCMD.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIJSRUNCMDAgentState.cc
  csmd/src/daemon/src/csmi_request_handler/CSMISoftFailureRecovery.cc
  csmd/src/daemon/src/csmi_request_handler/csm_interval_handler.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_db_resp_state.h
  csmd/src/daemon/src/csmi_request_handler/csmi_handler_state.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastAllocation.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastJSRUN.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastJSRUN.h
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastSoftFailureRecovery.h
  csmd/src/daemon/src/csmi_request_handler/helpers/Agent.h
  csmd/src/daemon/src/csmi_request_handler/helpers/EventHelpers.h
  csmi/include/csm_types/struct_defs/wm/csm_soft_failure_recovery_input.def
  csmi/include/csm_types/struct_defs/wm/csmi_jsrun_cmd_payload.def
  csmi/include/csmi_type_wm.h
  csmi/src/wm/cmd/soft_failure_recovery.c
  csmi/src/wm/include/csmi_wm_type_internal.h
  csmi/src/wm/src/csmi_soft_failure_recovery.c
  csmi/src/wm/src/csmi_wm_internal.c
  csmi/src/wm/src/csmi_wm_python.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect, Type: Story

#423 Csm api logging tools
  csmutil/csm_log_utility/API_Statistics.py
  csmutil/csm_log_utility/Helper_Files/Aggregator_Stat.py
  csmutil/csm_log_utility/Helper_Files/Compute_Stat.py
  csmutil/csm_log_utility/Helper_Files/Master_Stat.py
  csmutil/csm_log_utility/Helper_Files/Utility_Stat.py
Labels: Comp: CSM.api, PhaseFound: Development, Sev: 2, Type: Test Case Request

#425 Soft Failure Recovery Enhancements
  csmconf/csm_api.cfg
  csmd/src/daemon/src/csmi_request_handler/CSMISoftFailureRecoveryAgentState.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/Agent.h
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#427 csmdb_update: archive_history_db_default_thread_count set to 10
  csmdb/sql/csm_db_history_archive.py
Labels: Comp: CSM, Comp: CSM.bds, Comp: CSM.db, PhaseFound: Development

#424 Add collection of per gpu and cpu metrics to CSM allocations
  csmconf/csm_master.cfg
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationAgentUpdateState.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationDelete.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastAllocation.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.h
  csmd/src/inv/include/inv_dcgm_access.h
  csmd/src/inv/src/inv_dcgm_access.cc
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_gpu_metrics.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_context.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_payload_response.def
  csmi/include/csm_types/struct_defs/wm/type_order.def
  csmi/include/struct_generator/c_funct.txt
  csmi/src/bb/src/csmi_bb_serialization.c
  csmi/src/common/src/csmi_common_serial.c
  csmi/src/diag/src/csmi_diag_serialization.c
  csmi/src/inv/src/csmi_inv_serialization.c
  csmi/src/ras/src/csmi_ras_serialization.c
  csmi/src/wm/include/csmi_wm_internal.h
  csmi/src/wm/include/csmi_wm_type_internal.h
  csmi/src/wm/src/csmi_wm_internal.c
  csmi/src/wm/src/csmi_wm_serialization.c
  utilities/include/logging.h
  utilities/src/logging.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Customer, Sev: 2, Type: Story
