Repository IBM/CAST, pull requests merged in 2018-07, with the labels that each got.

#144 bb:Remove excessive delays in get throttle rate processing
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/xfer.cc
  bb/wrappers/bbapi.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#145 dev dlherms
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#138 Fixing the clang build INTMAX_MAX => INT_MAX
  csmd/src/daemon/include/bds_info.h
Labels: Comp: CSM, Comp: CSM.infra, PhaseFound: Development, Sev: 3, Status: Verify, Type: Defect

#150 Issue #146 bug fixes for CSM jsrun_cmd basic test bucket
  csmtest/buckets/basic/jsrun_cmd.sh
  csmtest/include/jsrun_cmd_test_script.sh
Labels: Comp: CSM.fvt

#119 hostname and command configuration improvements
  csmconf/csm_aggregator.cfg
  csmconf/csm_api.cfg
  csmconf/csm_compute.cfg
  csmconf/csm_master.cfg
  csmconf/csm_utility.cfg
  csmd/include/csm_daemon_config.h
  csmd/src/daemon/include/csm_api_acl.h
  csmd/src/daemon/include/csm_api_config.h
  csmd/src/daemon/src/csm_bds_manager.cc
  csmd/src/daemon/src/csm_daemon_config.cc
Labels: Comp: CSM.infra, Type: Story

#137 Improved the step begin and end apis for user auth.
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationStepBegin.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationStepBegin.h
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationStepEnd.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationStepEnd.h
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Customer, Sev: 2, Status: Verify, Type: Defect

#152 dev dlherms
  bb/src/BBTransferDef.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#151 extensions and improvements to logging of multicast and inventory
  csmd/src/daemon/src/csmi_request_handler/csmi_agg_mtc_handler.cc
  csmd/src/inv/src/inv_aggregator_handler.cc
Labels: Comp: CSM.infra

#157 dev dlherms
  bb/include/bbapi.h
  bb/src/BBLVKey_ExtentInfo.cc
  bb/src/BBLVKey_ExtentInfo.h
  bb/src/BBTagInfo.h
  bb/src/BBTagInfo2.cc
  bb/src/BBTagInfo2.h
  bb/src/BBTagInfoMap.cc
  bb/src/BBTagInfoMap.h
  bb/src/BBTagInfoMap2.cc
  bb/src/BBTagInfoMap2.h
  bb/src/BBTagParts.cc
  bb/src/BBTagParts.h
  bb/src/BBTransferDef.cc
  bb/src/BBTransferDef.h
  bb/src/bbserver.cc
  bb/src/xfer.cc
  bb/src/xfer.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#161 bb: Change logging of wrkqmgr to a default of every 5 minutes, and wh…
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Support Request

#162 bb:Minor comment change
  bb/src/BBTransferDef.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 4, Status: Open, Type: Documentation

#166 dev dlherms
  bb/src/BBTagInfo.cc
  bb/src/BBTagInfo2.cc
  bb/src/BBTagInfoMap.cc
  bb/src/BBTransferDef.cc
  bb/src/BBTransferDef.h
  bb/src/ContribIdFile.h
  bb/src/bbserver.cc
  bb/src/xfer.cc
  bb/wrappers/bb.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#163 fix duplicate port defect
  csmdb/sql/csm_create_triggers.sql
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.db, Comp: CSM.inventory, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#173 dev dlherms
  bb/src/BBTagInfoMap2.cc
  bb/src/BBTransferDef.cc
  bb/src/HandleFile.cc
  bb/src/HandleFile.h
  bb/src/bbinternal.h
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/xfer.cc
  bb/wrappers/bbapi_main.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#177 bb:Backout LOCK_HANDLEFILE_WITH_TEST_FIRST support
  bb/src/bbserver.cc
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#168 CSM Environmental Data serialization improvements
  csmconf/csm_compute.cfg
  csmd/src/daemon/include/csm_environmental_data.h
  csmd/src/daemon/src/csm_daemon_state.cc
  csmd/src/daemon/src/csm_environmental_data.cc
  csmd/src/daemon/src/csmi_request_handler/csm_envdata_handler.cc
  csmd/src/daemon/src/csmi_request_handler/csm_environmental_handler.cc
  csmd/src/daemon/src/csmi_request_handler/csm_environmental_handler.h
  csmd/src/inv/include/inv_agent_handler.h
  csmd/src/inv/include/inv_dcgm_access.h
  csmd/src/inv/src/inv_agent_handler.cc
  csmd/src/inv/src/inv_dcgm_access.cc
Labels: Comp: CSM, Type: Story

#169 Feature new/null database fields csmapis
  csmd/src/daemon/src/csmi_request_handler/CSMIIbCableUpdate.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIIbCableUpdate.h
  csmd/src/daemon/src/csmi_request_handler/CSMINodeAttributesUpdate.cc
  csmd/src/daemon/src/csmi_request_handler/CSMINodeAttributesUpdate.h
  csmd/src/daemon/src/csmi_request_handler/CSMISwitchAttributesUpdate.cc
  csmd/src/daemon/src/csmi_request_handler/CSMISwitchAttributesUpdate.h
  csmi/include/csm_types/struct_defs/inv/csm_ib_cable_update_input.def
  csmi/include/csm_types/struct_defs/inv/csm_node_attributes_update_input.def
  csmi/include/csm_types/struct_defs/inv/csm_switch_attributes_update_input.def
  csmi/include/csmi_type_inv.h
  csmi/src/inv/cmd/ib_cable_update.c
  csmi/src/inv/cmd/node_attributes_update.c
  csmi/src/inv/cmd/switch_attributes_update.c
  utilities/include/string_tools.h
  utilities/src/string_tools.c
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.db, PhaseFound: Customer, PhaseFound: Development, Sev: 2, Status: Open, Type: Customer Requirement, Type: Test Case Request

#170 Python Log Analysis for API Run Times
  .gitignore
  csm_big_data/Use-Cases/elasticTest.py
  csm_big_data/Use-Cases/findJobKeys.py
  csm_big_data/Use-Cases/findJobTimeRange.py
  csmutil/csm_log_utility/API_Statistics.py
  csmutil/csm_log_utility/Helper_Files/Aggregator_Stat.py
  csmutil/csm_log_utility/Helper_Files/Computer_Stat.py
  csmutil/csm_log_utility/Helper_Files/Log_Object.py
  csmutil/csm_log_utility/Helper_Files/Master_Stat.py
  csmutil/csm_log_utility/Helper_Files/Utility_Stat.py
  csmutil/csm_log_utility/Logs/Aggregator/ReadMe.md
  csmutil/csm_log_utility/Logs/Compute/ReadMe.md
  csmutil/csm_log_utility/Logs/Master/ReadMe.md
  csmutil/csm_log_utility/Logs/Utility/ReadMe.md
  csmutil/csm_log_utility/ReadMe.md
  csmutil/csm_log_utility/Reports/Aggregator_Reports/Aggregator_Reports.md
  csmutil/csm_log_utility/Reports/Compute_Reports/Compute_Reports.md
  csmutil/csm_log_utility/Reports/Master_Reports/Master_Reports.md
  csmutil/csm_log_utility/Reports/Utility_Reports/Utility_Reports.md
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Open, Type: Epic, Type: Test Case Request

#171 Fix/ras event create timestamp log
  csmi/src/ras/cmd/csm_ras_event_create.c
Labels: Comp: CSM

#172 removed ability to update certain fields via API
  csmd/src/daemon/src/csmi_request_handler/CSMIIbCableUpdate.cc
  csmi/include/csm_types/struct_defs/inv/csm_ib_cable_update_input.def
  csmi/include/csmi_type_inv.h
  csmi/src/inv/cmd/ib_cable_update.c
  csmi/src/inv/cmd/switch_attributes_update.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect, Type: Test Case Request

#185 Added a cast-allocation prototype to handle timestamps.
  csm_big_data/elasticsearch/mappings/templates/cast-allocation.json
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.bds, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#191 dev dlherms
  bb/src/BBTagInfo.cc
  bb/src/BBTransferDef.cc
  bb/src/HandleFile.cc
  bb/src/bbserver.cc
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#195 dev dlherms
  bb/src/BBTagInfo2.cc
  bb/src/BBTransferDef.cc
  bb/src/ContribIdFile.h
  bb/src/bbwrkqmgr.h
  bb/src/xfer.cc
  bb/wrappers/Procedures.py
  bb/wrappers/bb.py
  bb/wrappers/bbapiAdmin.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#196 bb:Use bfs::copy_option::overwrite_if_exists for local/remote copy
  bb/src/LVUtils.cc
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect
