Repository IBM/CAST, pull requests merged in 2019-05, with the labels that each got.

#664 dev dlherms2
  bb/src/BBLV_Metadata.cc
  bb/src/BBTransferDef.cc
  bb/src/HandleFile.cc
  bb/src/bbapi.cc
  bb/src/bbapi2.cc
  bb/src/bbcmd.cc
  bb/src/bberror.h
  bb/src/bbio_regular.cc
  bb/src/bbproxy.cc
  bb/src/bbproxyConn2bbserver.cc
  bb/src/bbserver.cc
  bb/src/connections.cc
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Pending in Pull Request, Type: Defect

#668 dev dlherms2
  bb/src/BBTagInfo.cc
  bb/src/BBTransferDef.cc
  bb/src/ContribFile.cc
  bb/src/HandleFile.cc
  bb/src/LVUtils.cc
  bb/src/LVUuidFile.cc
  bb/src/bberror.h
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#673 'LVKeys do not match for the handle verses the files in the transfer'…
  bb/src/BBLV_Metadata.cc
  bb/src/LVUtils.cc
  bb/src/bbinternal.h
  bb/src/bbproxy.cc
  utilities/src/util.cc
Labels: Comp: Burst Buffer, PhaseFound: IST, Sev: 2, Status: Pending in Pull Request, Type: Defect

#675 csm: fixing event type check for timeout responses
  csmd/src/daemon/src/csmi_request_handler/csmi_base.h
Labels: Comp: CSM.infra, PhaseFound: Development, Sev: 2, Type: Defect

#665 csm: fix for #658
  csmd/src/daemon/src/csm_timer_manager.cc
Labels: Comp: CSM.infra, PhaseFound: IST, Sev: 2, Type: Defect

#684 CSM updates needed to build against DCGM 1.6.3
  csmd/dcgm.cmake
  csmd/src/inv/include/inv_dcgm_access.h
  csmd/src/inv/src/inv_dcgm_access.cc
Labels: Comp: CSM, Comp: Nvidia, PhaseFound: Development, Sev: 2

#678 Issue 617
  csmi/src/wm/cmd/allocation_step_end.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: FVT, Sev: 3

#687 fix module issue?
  csmd/src/inv/ib_and_switch/include/inv_switch_connector_access.h
  csmd/src/inv/ib_and_switch/src/inv_switch_connector_access.cc
  csmd/src/inv/ib_and_switch/src/standalone_ib_and_switch_collection.cc
Labels: Comp: CSM.api, Comp: CSM.db, Comp: CSM.inventory, Comp: Mellanox, PhaseFound: Development, PhaseFound: IST, Sev: 2, Type: Defect, Type: Test Case Request

#693 dev dlherms2
  bb/src/BBLV_ExtentInfo.cc
  bb/src/BBLV_Info.cc
  bb/src/BBLV_Metadata.cc
  bb/src/BBTagInfo.cc
  bb/src/BBTagInfoMap.cc
  bb/src/BBTagInfoMap.h
  bb/src/BBTagParts.cc
  bb/src/bbio_regular.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/xfer.cc
  bb/src/xfer.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#689 Bills db migration 18.0 and more
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationAgentUpdateState.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationCreate.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationQuery.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationQueryDetails.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationUpdateState.cc
  csmd/src/daemon/src/csmi_request_handler/CSMISwitchAttributesQueryDetails.cc
  csmd/src/daemon/src/csmi_request_handler/CSMISwitchChildrenInventoryCollection.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastAllocation.cc
  csmd/src/inv/ib_and_switch/include/inv_switch_connector_access.h
  csmd/src/inv/ib_and_switch/src/inv_switch_connector_access.cc
  csmd/src/inv/ib_and_switch/src/standalone_ib_and_switch_collection.cc
  csmdb/sql/CMakeLists.txt
  csmdb/sql/csm_create_tables.sql
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_db_backup_script_v1.sh
  csmdb/sql/csm_db_connections_script.sh
  csmdb/sql/csm_db_migration_scripts/CMakeLists.txt
  csmdb/sql/csm_db_migration_scripts/csm_db_schema_updates_16_2_ms.sql
  csmdb/sql/csm_db_migration_scripts/csm_db_schema_updates_17_0_ms.sql
  csmdb/sql/csm_db_migration_scripts/csm_db_schema_updates_18_0_ms.sql
  csmdb/sql/csm_db_ras_type_script.sh
  csmdb/sql/csm_db_schema_version_data.csv
  csmdb/sql/csm_db_schema_version_upgrade_18_0.sh
  csmdb/sql/csm_db_script.sh
  csmdb/sql/csm_db_stats.sh
  csmdb/sql/csm_db_utility_setup_script.sh
  csmdb/sql/csm_delete_data.sql
  csmdb/sql/csm_drop_functions.sql
  csmdb/sql/csm_drop_tables.sql
  csmi/include/csm_types/struct_defs/inv/csmi_switch_inventory_record.def
  csmi/include/csm_types/struct_defs/inv/type_order.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_context.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_payload_request.def
  csmi/include/csmi_type_inv.h
  csmi/include/csmi_type_wm.h
  csmi/src/inv/cmd/switch_attributes_query_details.c
  csmi/src/inv/src/csmi_inv_internal.c
  csmi/src/inv/src/csmi_inv_python.cc
  csmi/src/wm/include/csmi_wm_type_internal.h
  csmi/src/wm/src/csmi_wm_internal.c
  csmi/src/wm/src/csmi_wm_python.cc
  docs/source/csm/csmdb/csm_db_appendix.rst
  docs/source/csm/csmdb/csm_db_appendix_table_csv_files/csm_db_fks_05_14_2019_15_06_47.csv
  docs/source/csm/csmdb/csm_db_appendix_table_csv_files/csm_db_indexes_05_14_2019_15_06_47.csv
  docs/source/csm/csmdb/csm_db_appendix_table_csv_files/csm_db_pks_05_14_2019_15_06_47.csv
  docs/source/csm/csmdb/csm_db_appendix_table_csv_files/csm_db_uks_05_14_2019_15_06_47.csv
  docs/source/csm/csmdb/csm_db_appendix_table_csv_files/csm_triggers_functions_05_14_2019_15_06_47.csv
  docs/source/csm/csmdb/csm_db_schema_version_upgrade_18_0_sh.rst
  docs/source/csm/csmdb/index.rst
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.db, Comp: CSM.inventory, PhaseFound: Development

#702 csmdb: migration 18.0 fixes
  csmdb/sql/csm_create_tables.sql
  csmdb/sql/csm_db_migration_scripts/csm_db_schema_updates_18_0_ms.sql
  csmdb/sql/csm_db_schema_version_upgrade_18_0.sh
  csmdb/sql/csm_drop_functions.sql
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.db, PhaseFound: IST, Type: Defect

#700 add in search of 'N/A'
  csmd/src/inv/ib_and_switch/src/inv_ib_connector_access.cc
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.db, Comp: CSM.inventory, Comp: Mellanox, PhaseFound: IST, Sev: 3, Type: Defect

#707 csmdb: update to descriptions related to the csm_step_history table w…
  csmdb/sql/csm_create_tables.sql
  csmdb/sql/csm_db_migration_scripts/csm_db_schema_updates_18_0_ms.sql
  docs/source/csm/csmdb/csm_db_appendix.rst
Labels: Comp: CSM, Comp: CSM.db, Comp: CSM.fvt, PhaseFound: Development, Type: Documentation
