Repository IBM/CAST, pull requests merged in 2019-01, with the labels that each got.

#486 dev dlherms
  bb/src/HandleFile.cc
  bb/src/bbwrkqmgr.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Open, Type: Defect

#485 1.4.0 minor bugfixes
  csm_big_data/rpmscripts/kibana.post.install
  csm_big_data/rpmscripts/kibana.post.uninstall
  csm_big_data/rpmscripts/kibana.pre.uninstall
  csm_big_data/rpmscripts/logstash.post.install
  csm_big_data/rpmscripts/logstash.pre.uninstall
  csm_big_data/setupRPM.cmake
  csmi/src/wm/cmd/allocation_query_details.c
  docs/source/cast-big-data/data-aggregators.rst
  utilities/src/logging.cc
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.bds, PhaseFound: Customer, Sev: 3, Status: Verify, Type: Defect

#480 remove some unused commit references and test keys
  csmnet/src/CPP/csm_version_msg.cc
  csmrestd/tests/certs/server.crt
  csmrestd/tests/certs/server.csr
  csmrestd/tests/certs/server.key
  csmrestd/tests/certs/server.key.org
Labels: Comp: CSM, Type: Defect

#490 CSM FVT: Added csm_db_backup_script_v1.sh to basic db script bucket
  csmtest/buckets/basic/db_script.sh
Labels: Comp: CSM.fvt, Sev: 4, Status: Verify, Type: Test Case Added

#489 how to create SSL key
  docs/source/csm-integration/Mellanox_and_Infiniband.rst
  docs/source/csm-integration/index.rst
  docs/source/index.rst
Labels: Comp: CSM, Comp: Mellanox, Type: Documentation

#493 dev dlherms
  bb/src/bbserver.cc
  bb/wrappers/Procedures.py
  bb/wrappers/bbapi.py
  bb/wrappers/bbapi_main.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect

#503 bb:Monitor the syscalls for the async request file I/O
  bb/src/bbwrkqmgr.cc
  bb/src/tracksyscall.cc
  bb/src/tracksyscall.h
Labels: Comp: Burst Buffer, PhaseFound: Customer, Sev: 2, Status: Open, Type: Defect

#504 bb:Add flight logging for the async request file I/O
  bb/src/bbwrkqmgr.cc
Labels: Comp: Burst Buffer, PhaseFound: Customer, Sev: 2, Status: Open, Type: Defect

#497 Issue #496: prospectors->inputs.
  csm_big_data/beats/config/filebeat.yml
  docs/source/cast-big-data/data-aggregators.rst
Labels: Comp: CSM, Comp: CSM.bds, PhaseFound: Customer, Sev: 3, Status: Verify, Type: Documentation

#492 Issue #453: Implementation of 1.5.0 Jitter Mitigation Strategy
  csmconf/csm_compute.cfg
  csmd/include/csm_daemon_config.h
  csmd/src/daemon/include/csm_jitter_info.h
  csmd/src/daemon/src/csm_daemon_config.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationAgentUpdateState.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationCreate.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationQuery.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationQueryDetails.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationUpdateState.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_mcast/CSMIMcastAllocation.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.h
  csmd/src/utils/src/CMakeLists.txt
  csmdb/sql/csm_create_tables.sql
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_drop_functions.sql
  csmi/include/csm_types/struct_defs/wm/csmi_allocation.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_context.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_payload_request.def
  csmi/include/csmi_type_wm.h
  csmi/include/struct_generator/generate_print_formatter.pl
  csmi/src/common/include/csmi_common_generated.h
  csmi/src/common/src/csmi_common_internal.c
  csmi/src/wm/cmd/allocation_create.c
  csmi/src/wm/cmd/allocation_query.c
  csmi/src/wm/cmd/allocation_query_details.c
  csmi/src/wm/include/csmi_wm_type_internal.h
  csmi/src/wm/src/csmi_allocation_create.c
  csmi/src/wm/src/csmi_wm_internal.c
  csmi/src/wm/src/csmi_wm_python.cc
  docs/source/csmd/csmd_config.rst
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Customer, PhaseFound: Development, Sev: 2, Status: Verify, Type: Documentation, Type: Epic, Type: Test Case Request

#512 csmd: issue #511 fix segfault introduced earlier; main loop never exi…
  csmd/src/daemon/src/csm_daemon.cc
  csmnet/src/CPP/address.h
  csmnet/src/CPP/endpoint_dual_unix.cc
  csmnet/src/CPP/endpoint_unix.cc
Labels: Comp: CSM.infra, PhaseFound: Development, Sev: 2, Status: Open, Type: Defect, Type: Test Case Request

#513 dev dlherms
  bb/src/BBLV_Info.cc
  bb/src/BBTagInfo.cc
  bb/src/BBTagInfoMap.cc
  bb/src/BBTagParts.cc
  bb/src/BBTagParts.h
  bb/src/BBTransferDef.cc
  bb/src/bbinternal.h
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
  bb/wrappers/Procedures.py
Labels: Comp: Burst Buffer, PhaseFound: Customer, Sev: 2, Status: Open, Type: Defect

#500 CSM FVT: Added mechanism for memory usage monitoring to complete_fvt.sh
  csmtest/tools/complete_fvt.sh
Labels: Comp: CSM.fvt, Sev: 4, Status: Verify, Type: Test Case Request

#439 prevent client lib race condition: socket tear-down and pending send/recv
  csmi/src/common/src/csm_api_common.c
  csmnet/src/C/csm_network_local.c
Labels: Comp: CSM, Comp: CSM.infra, PhaseFound: Customer, Sev: 3, Type: Defect, Type: Test Case Request

#506 Documentation Additions
  docs/source/csm-apis/index.rst
  docs/source/csm-integration/Mellanox_and_Infiniband.rst
  docs/source/csm-inventory/GPU.rst
  docs/source/csm-inventory/Network.rst
  docs/source/csm-inventory/Node.rst
  docs/source/csm-inventory/index.rst
  docs/source/csmdb/csm_db_appendix.rst
  docs/source/csmdb/index.rst
  docs/source/index.rst
  docs/source/tools.rst
Labels: Comp: CSM, Sev: 4, Type: Documentation

#516 CSM FVT: Added new enable_ssl.sh tool and SSL test cases to infrastructure bucket
  csmtest/buckets/error_injection/infrastructure.sh
  csmtest/tools/enable_ssl.sh
Labels: Comp: CSM.fvt, Sev: 3, Status: Verify, Type: Test Case Request

#494 Fixing session printing.
  csmd/src/pamd/src/.csm_pam.cc.swp
  csmd/src/pamd/src/csm_pam.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Customer, Sev: 2, Status: Verify, Type: Defect

#517 Fixes to the CSM logs
  csm_big_data/beats/config/filebeat.yml
  csmi/src/common/include/csmi_struct_hash.h
  csmi/src/common/src/csmi_json.cc
  utilities/src/logging.cc
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.bds, PhaseFound: Customer, Sev: 2, Status: Verify, Type: Defect

#522 csm DB basic test bucket scripts
  csmtest/buckets/basic/db_connections_script.sh
  csmtest/buckets/basic/db_ras_type_script.sh
  csmtest/buckets/basic/db_stats_script.sh
  csmtest/include/sql/csm_ras_type_data_test_1.csv
  csmtest/include/sql/csm_ras_type_data_test_2.csv
  csmtest/include/sql/csm_ras_type_data_test_3.csv
Labels: Comp: CSM, Comp: CSM.db, Comp: CSM.fvt, PhaseFound: FVT, Type: Test Case Added

#526 csm_db_initial_upgrade_to_17.0
  csmdb/sql/csm_create_tables.sql
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_db_schema_version_data.csv
  csmdb/sql/csm_delete_data.sql
  csmdb/sql/csm_drop_functions.sql
  csmdb/sql/csm_drop_tables.sql
Labels: Comp: CSM, Comp: CSM.db, PhaseFound: Development, Type: Customer Requirement

#525 Add the meaning of CAST into the landing README page
  README.md
Labels: PhaseFound: Development, Sev: 4, Type: Documentation

#531 Issue #530: Transitioning @timestamp to timestamp.
  utilities/include/logging.h
Labels: Comp: CSM, Comp: CSM.bds, PhaseFound: Customer, Sev: 3, Status: Verify, Type: Defect

#519 Prefer Pre-Incrementing rather than Post-Incrementing
  bb/src/BBLV_Metadata.cc
Labels: Comp: Burst Buffer

#539 Bills db updates for 17 0
  csmd/src/daemon/src/csmi_request_handler/CSMIBBLVDelete.cc
  csmdb/sql/csm_create_tables.sql
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_drop_functions.sql
  csmi/include/csm_types/struct_defs/bb/csm_bb_lv_delete_input.def
  csmi/include/csm_types/struct_defs/bb/type_order.def
  csmi/include/csmi_type_bb.h
  csmi/src/bb/cmd/bb_lv_delete.c
  csmi/src/bb/src/csmi_bb_internal.c
  csmi/src/bb/src/csmi_bb_python.cc
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.db, PhaseFound: Development, Sev: 4, Type: Epic, Type: Test Case Request

#527 Fix for non maximum SMT modes
  csmconf/csm_compute.cfg
  csmd/src/daemon/include/csm_jitter_info.h
  csmd/src/daemon/src/csm_daemon_config.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationAgentUpdateState.cc
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationCreate.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.h
  csmi/include/csm_api_version.h
  csmi/include/csm_types/struct_defs/ras/csm_ras_msg_type_query_input.def
  csmi/include/csm_types/struct_defs/ras/type_order.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_context.def
  csmi/include/csm_types/struct_defs/wm/csmi_allocation_mcast_payload_request.def
  csmi/include/csm_types/struct_defs/wm/type_order.def
  docs/source/csmd/csmd_config.rst
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#538 Fix for Issue #535. Moved source location in filebeats output.
  csm_big_data/transition-scripts/metric-transaction_140-150.py
  docs/source/cast-big-data/python-guide.rst
  utilities/include/logging.h
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.bds, Sev: 3, Status: Verify, Type: Defect

#544 Reimplemented the IRQBalance mechanism.
  csmconf/csm_api.cfg
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Customer, PhaseFound: Development, Sev: 3, Status: Verify, Type: Defect, Type: Story

#529 CSM / UFM Integration - Feature Improvement
  csm_big_data/logstash/patterns/events.yml
  csm_big_data/logstash/patterns/mellanox_grok.conf
Labels: Comp: CSM, Comp: CSM.ras, Comp: Mellanox, PhaseFound: Development, Sev: 2, Type: Epic, Type: Test Case Request
