Repository IBM/CAST, pull requests merged in 2019-02, with the labels that each got.

#545 Fixing bug with SMT mode in allocation update state.
  csmdb/sql/csm_create_triggers.sql
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.db, PhaseFound: FVT, Sev: 2, Status: Verify, Type: Defect

#548 Fix dynamic_date_formats bug in elasticsearch templates
  csm_big_data/elasticsearch/mappings/templates/cast-allocation.json
  csm_big_data/elasticsearch/mappings/templates/cast-counters-gpfs.json
  csm_big_data/elasticsearch/mappings/templates/cast-counters-ufm.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-dimm-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-gpu-counters.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-gpu-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-node-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-csm-processor-env.json
  csm_big_data/elasticsearch/mappings/templates/cast-db-csm.json
  csm_big_data/elasticsearch/mappings/templates/cast-log-console.json
  csm_big_data/elasticsearch/mappings/templates/cast.json
Labels: Comp: CSM, Comp: CSM.bds, PhaseFound: Customer, Sev: 3, Type: Defect

#546 dev dlherms
  bb/src/BBLV_Info.cc
  bb/src/BBLV_Metadata.cc
  bb/src/BBLV_Metadata.h
  bb/src/BBTagInfo.cc
  bb/src/BBTransferDef.cc
  bb/src/ContribIdFile.cc
  bb/src/ContribIdFile.h
  bb/src/HandleFile.cc
  bb/src/HandleFile.h
  bb/src/bbinternal.h
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
  bb/src/xfer.cc
  bb/src/xfer.h
  bb/wrappers/Procedures.py
  bb/wrappers/bb.py
Labels: Comp: Burst Buffer, PhaseFound: Customer, Sev: 2, Status: Pending in Pull Request, Type: Defect

#550 csm: print warning in daemon log when api call is not permitted
  csmnet/src/CPP/endpoint_unix.cc
Labels: Comp: CSM.infra, PhaseFound: Development, Sev: 3, Type: Test Case Request

#549 IRQ Daemon Fix
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.h
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: Story, Type: Test Case Request

#558 csmd: handle db version mismatch exception and exit properly
  csmd/src/daemon/src/csm_daemon.cc
Labels: Comp: CSM.infra, PhaseFound: FVT, Sev: 2, Type: Defect

#554 Adding RPM dependencies and new script for rebuilding transaction data
  csm_big_data/beats/CMakeLists.txt
  csm_big_data/beats/utility-scripts/csmTransactionRebuild.py
  csm_big_data/setupRPM.cmake
  csmdb/sql/CMakeLists.txt
  csmutil/csm_log_utility/CMakeLists.txt
  csmutil/csm_log_utility/Helper_Files/CMakeLists.txt
  csmutil/csm_log_utility/Logs/CMakeLists.txt
  csmutil/csm_log_utility/Reports/CMakeLists.txt
  docs/source/cast-big-data/python-guide.rst
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.bds, Comp: CSM.db, PhaseFound: Customer, Sev: 3, Status: Verify, Type: Defect, Type: Story

#555 an example of how to use xCAT restful python APIs and CSM python APIs to use an xCAT noderange
  csmi/python_samples/node_attributes_query_with_xcat.py
  docs/source/csm-apis/csm_python_guide.md
Labels: Comp: CSM, Comp: CSM.api, Sev: 2, Type: Epic

#556 csmdb migration 17.0 script
  csmdb/sql/CMakeLists.txt
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_db_migration_scripts/CMakeLists.txt
  csmdb/sql/csm_db_migration_scripts/csm_db_schema_updates_16_0_ms.sql
  csmdb/sql/csm_db_migration_scripts/csm_db_schema_updates_16_2_ms.sql
  csmdb/sql/csm_db_migration_scripts/csm_db_schema_updates_17_0_ms.sql
  csmdb/sql/csm_db_migration_scripts/csm_drop_triggers_functions.sql
  csmdb/sql/csm_db_schema_version_upgrade_16_2.sh
  csmdb/sql/csm_db_schema_version_upgrade_17_0.sh
Labels: Comp: CSM, Comp: CSM.db, PhaseFound: Development, Type: New Feature

#560 Activelist Warning Rework
  csmd/src/daemon/src/csmi_request_handler/CSMIAllocationAgentUpdateState.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 3, Status: Verify, Type: Defect

#561 csm: improved event source scheduling
  csmd/src/daemon/src/csm_event_source_set.cc
Labels: Comp: CSM.infra, PhaseFound: Development, Sev: 4, Type: Defect

#566 Improving default configuration of PAM module
  csmd/rpmscripts/csmd.post.install
  csmd/rpmscripts/csmd.post.uninstall
  csmd/src/pamd/README.md
  csmd/src/pamd/src/CMakeLists.txt
  csmtest/buckets/basic/pamd.sh
  csmtest/include/functions.sh
  csmtest/tools/complete_fvt.sh
  docs/source/csm-apis/configuration/configuring-csm-pamd.rst
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect, Type: Documentation

#563 bb delete upgrade
  csmd/src/daemon/src/csmi_request_handler/CSMIBBLVDelete.cc
  csmi/include/csm_types/struct_defs/bb/csm_bb_lv_delete_input.def
  csmi/include/csmi_type_bb.h
  csmi/src/bb/cmd/bb_lv_delete.c
  csmi/src/bb/src/csmi_bb_python.cc
Labels: Comp: Burst Buffer, Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 3, Type: Epic, Type: Test Case Request

#568 CSM FVT: minor fixes to pamd basic bucket
  csmtest/buckets/basic/pamd.sh
  csmtest/include/functions.sh
Labels: Comp: CSM.fvt, Sev: 4, Status: Verify

#569 csmdb_util_scripts_updates: cleaned up scripts and rearranged output …
  csmdb/sql/csm_db_backup_script_v1.sh
  csmdb/sql/csm_db_connections_script.sh
  csmdb/sql/csm_db_history_archive.py
  csmdb/sql/csm_db_history_delete.py
  csmdb/sql/csm_db_ras_type_script.sh
  csmdb/sql/csm_db_script.sh
  csmdb/sql/csm_db_stats.sh
Labels: Comp: CSM, Comp: CSM.db, PhaseFound: Development

#574 Dev dlherms
  bb/include/bbapi_types.h
  bb/src/BBLV_Metadata.cc
  bb/src/BBTagInfo.cc
  bb/src/BBTagInfo.h
  bb/src/BBTagParts.cc
  bb/src/BBTagParts.h
  bb/src/BBTransferDef.cc
  bb/src/BBTransferDef.h
  bb/src/ContribFile.cc
  bb/src/ContribFile.h
  bb/src/ContribIdFile.cc
  bb/src/ContribIdFile.h
  bb/src/HandleFile.cc
  bb/src/HandleFile.h
  bb/src/LVUuidFile.cc
  bb/src/LVUuidFile.h
  bb/src/bbflags.h
  bb/src/bbinternal.h
  bb/src/bbio_regular.cc
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
  bb/src/fh.cc
  bb/src/xfer.cc
  bb/wrappers/Procedures.py
  bb/wrappers/bbapi.py
Labels: Comp: Burst Buffer, PhaseFound: Customer, Sev: 2, Status: Pending in Pull Request, Type: Defect

#573 csmdb_update: cleaned up scripts with logging details and read the do…
  csmdb/sql/csm_create_tables.sql
  csmdb/sql/csm_db_backup_script_v1.sh
  csmdb/sql/csm_db_connections_script.sh
  csmdb/sql/csm_db_history_archive.py
  csmdb/sql/csm_db_history_delete.py
  csmdb/sql/csm_db_ras_type_script.sh
  csmdb/sql/csm_db_schema_version_upgrade_17_0.sh
  csmdb/sql/csm_db_script.sh
  csmdb/sql/csm_db_stats.sh
  docs/source/csmdb/csm_db_appendix.rst
  docs/source/csmdb/csm_db_backup_script_v1_sh.rst
  docs/source/csmdb/csm_db_connections_script_sh.rst
  docs/source/csmdb/csm_db_history_archive_py.rst
  docs/source/csmdb/csm_db_history_delete_py.rst
  docs/source/csmdb/csm_db_schema_version_upgrade_16_2_sh.rst
  docs/source/csmdb/csm_db_schema_version_upgrade_17_0_sh.rst
  docs/source/csmdb/csm_db_script_sh.rst
  docs/source/csmdb/csm_db_stats_sh.rst
  docs/source/csmdb/csm_ras_type_script_sh.rst
  docs/source/csmdb/index.rst
Labels: Comp: CSM, Comp: CSM.db, PhaseFound: Development, Type: Documentation

#576 Relaxed ibm-csm-core version dependency on nvme-cli. Added ibm-csm-db dependency on pv rpm.
  csmd/setupRPM.cmake
Labels: Comp: CSM

#571 IRQ reorder.
  csmd/src/daemon/src/csmi_request_handler/helpers/Agent.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#577 Increasing trace fidelity of cgroup code.
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: IST, Sev: 2, Status: Working, Type: Defect

#578 Temporary fix for Issue #62 for CSM 1.5.0
  csmd/src/daemon/etc/csmd-compute.service
Labels: Comp: CSM, PhaseFound: Customer, Sev: 3, Status: Verify, Type: Defect

#579 Updated tracing in CSM buckets
  csmd/src/daemon/src/csmi_request_handler/csm_environmental_handler.cc
  csmd/src/inv/include/inv_ssd_inventory.h
  csmd/src/inv/src/inv_ssd_inventory.cc
Labels: Comp: CSM.inventory

#583 Added a fix to handle no change data metrics.
  csmdb/sql/csm_create_triggers.sql
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: Defect

#585 smt mode should clamp again in cgroup creation.
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: IST, Sev: 2, Status: Verify, Type: Defect

#586 CSM documentation update for SSD wear bucket
  docs/source/cast-big-data/python-guide.rst
  docs/source/csmd/csmd_config.rst
Labels: Comp: CSM

#587 CSM FVT Improvements for 1.5.0
  csmtest/buckets/advanced/allocation.sh
  csmtest/buckets/basic/allocation.sh
  csmtest/buckets/error_injection/infrastructure.sh
Labels: Comp: CSM.fvt, Sev: 2, Status: Working, Type: Test Case Added, Type: Test Case Request

#589 Fixed issue with per CPU accounting for different SMT modes
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
Labels: Comp: CSM, PhaseFound: Development, Sev: 2, Type: Defect
