Repository IBM/CAST, pull requests merged in 2019-08, with the labels that each got.

#775 fvt test case cleanup - Test Case 6: Calling csm_ras_event_query: FAI…
  csmtest/buckets/basic/ras.sh
Labels: Comp: CSM.fvt, Status: Verify

#774 fvt rc function advancements to test buckets
  csmtest/buckets/advanced/allocation.sh
  csmtest/buckets/basic/allocation.sh
  csmtest/buckets/basic/bb.sh
  csmtest/buckets/basic/compute_node.sh
  csmtest/buckets/basic/db_script.sh
  csmtest/buckets/basic/hcdiag.sh
  csmtest/buckets/basic/ib_inventory.sh
  csmtest/buckets/basic/inventory_collection.sh
  csmtest/buckets/basic/jsrun_cmd.sh
  csmtest/buckets/basic/node.sh
  csmtest/buckets/basic/node_inventory_db_history.sh
  csmtest/buckets/basic/python_libraries.sh
  csmtest/buckets/basic/ras.sh
  csmtest/buckets/basic/soft_failure_recovery.sh
  csmtest/buckets/basic/step.sh
  csmtest/buckets/basic/switch_inventory.sh
  csmtest/buckets/error_injection/allocation.sh
  csmtest/buckets/error_injection/bb.sh
  csmtest/buckets/error_injection/infrastructure.sh
  csmtest/buckets/error_injection/messaging.sh
  csmtest/buckets/error_injection/node.sh
  csmtest/buckets/error_injection/versioning.sh
  csmtest/include/functions.sh
Labels: Comp: CSM.fvt, Status: Verify

#777 Dev dlherms2
  bb/src/BBLV_ExtentInfo.cc
  bb/src/BBLV_Info.cc
  bb/src/BBLV_Info.h
  bb/src/BBLV_Metadata.cc
  bb/src/BBLV_Metadata.h
  bb/src/BBTagParts.cc
  bb/src/BBTransferDef.cc
  bb/src/ContribFile.h
  bb/src/ExtentInfo.h
  bb/src/HandleFile.h
  bb/src/LVUuidFile.h
  bb/src/bbserver.cc
  bb/src/bbwrkqe.cc
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
  bb/src/ras.json
  bb/src/xfer.cc
  bb/src/xfer.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#778 bb:Fix lock of local metadata if an exception is taken in stageoutEnd()
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#751 static analysis fixes and repairs
  csmd/src/daemon/include/csm_healthcheck_data.h
  csmd/src/daemon/src/csm_daemon_core_agent.cc
  csmd/src/inv/src/inv_aggregator_handler.cc
  csmi/src/common/src/csm_api_common.c
  csmi/src/common/src/csmi_common_utils.c
  csmnet/src/C/csm_network_local.c
Labels: Comp: CSM, PhaseFound: Development, Sev: 4, Type: Defect

#781 csm_fvt hcdiag test bucket configuation changes to PASS regression
  csmtest/include/hcdiag/clustconf.yaml
  csmtest/include/hcdiag/test.properties
Labels: Comp: CSM.fvt, PhaseFound: FVT, Status: Verify

#782 Issue #776: Version wasn't checked in init code. Version now clamps.
  csmi/include/struct_generator/c_funct.txt
  csmi/src/bb/src/csmi_bb_serialization.c
  csmi/src/common/src/csmi_common_serial.c
  csmi/src/diag/src/csmi_diag_serialization.c
  csmi/src/inv/src/csmi_inv_serialization.c
  csmi/src/ras/src/csmi_ras_serialization.c
  csmi/src/wm/src/csmi_wm_serialization.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 1, Status: Verify, Type: Defect

#783 Dev dlherms2
  bb/src/BBTagInfo.h
  bb/src/BBTagInfoMap.cc
  bb/src/BBTagInfoMap.h
  bb/src/BBTagParts.h
  bb/src/bbwrkqmgr.cc
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#784 bb:Optimize dump() paths
  bb/src/BBLV_ExtentInfo.cc
  bb/src/BBLV_Info.cc
  bb/src/BBLV_Metadata.cc
  bb/src/BBTagInfo.cc
  bb/src/BBTagInfoMap.cc
  bb/src/BBTagParts.cc
  bb/src/BBTransferDef.cc
  bb/src/bbwrkqe.cc
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect
