Repository IBM/CAST, pull requests merged in 2019-03, with the labels that each got.

#592 Fixed minor typo in csm_allocation_create help.
  csmi/src/wm/cmd/allocation_create.c
Labels: Comp: CSM, Sev: 4

#593 Packaging updates related to ibm-csm-tools rpm
  csmd/setupRPM.cmake
  csmutil/csm_log_utility/CMakeLists.txt
  csmutil/csm_log_utility/Logs/CMakeLists.txt
Labels: Comp: CSM, Sev: 3

#597 csmdb_updates for 1.6.0: including additional DB checks within some s…
  csmdb/sql/CMakeLists.txt
  csmdb/sql/csm_db_backup_script_v1.sh
  csmdb/sql/csm_db_connections_script.sh
  csmdb/sql/csm_db_ras_type_script.sh
  csmdb/sql/csm_db_script.sh
  csmdb/sql/csm_db_stats.sh
  csmdb/sql/csm_db_utility_setup_script.sh
Labels: Comp: CSM, Comp: CSM.db, PhaseFound: Development

#604 copyright fix 2019
  csmdb/sql/csm_db_utility_setup_script.sh
Labels: Comp: CSM, Comp: CSM.db

#605 dev-dlherms Handle file lock protocol and many related items
  bb/src/BBLV_ExtentInfo.cc
  bb/src/BBLV_Info.cc
  bb/src/BBTagInfo.cc
  bb/src/BBTagInfo.h
  bb/src/BBTagInfoMap.cc
  bb/src/BBTagParts.cc
  bb/src/BBTransferDef.cc
  bb/src/BBTransferDef.h
  bb/src/ContribIdFile.cc
  bb/src/ContribIdFile.h
  bb/src/HandleFile.cc
  bb/src/HandleFile.h
  bb/src/LVUtils.cc
  bb/src/LVUtils.h
  bb/src/bbflags.h
  bb/src/bbinternal.h
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqe.cc
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
  bb/src/fh.cc
  bb/src/xfer.cc
  utilities/src/util.cc
Labels: Comp: Burst Buffer, PhaseFound: Customer, Sev: 2, Status: Pending in Pull Request, Type: Defect

#606 bb:In isMounted(), fix pDevName length calculation
  bb/src/LVUtils.cc
Labels: Comp: Burst Buffer, PhaseFound: Customer, Sev: 2, Status: Pending in Pull Request, Type: Defect

#608 bb:749d64 broke BB_GetTransferInfo for multiple contributors, for a g…
  bb/src/BBTagInfo.cc
Labels: Comp: Burst Buffer, PhaseFound: Customer, Sev: 2, Status: Pending in Pull Request, Type: Defect

#609 Removing python-elasticsearch dependency
  csm_big_data/python/CMakeLists.txt
  csm_big_data/python/requirements.txt
  csm_big_data/setupRPM.cmake
  docs/source/cast-big-data/python-guide.rst
Labels: Comp: CSM, Comp: CSM.bds, PhaseFound: Customer, Sev: 2, Status: Verify, Type: Defect

#594 synchronized environmental data collection
  csmd/src/daemon/include/item_scheduler.h
Labels: Comp: CSM.infra, Sev: 2, Type: New Feature

#607 csmdb_update: added exit status 1 for error cases
  csmdb/sql/csm_db_utility_setup_script.sh
Labels: Comp: CSM, Comp: CSM.db, PhaseFound: Development, Type: Story

#611 Fixing the serialization of the Red-Black Tree for json serialization.
  csmi/include/struct_generator/rb_tree.pl
  csmi/src/bb/src/csmi_bb_internal.c
  csmi/src/diag/src/csmi_diag_internal.c
  csmi/src/inv/src/csmi_inv_internal.c
  csmi/src/ras/src/csmi_ras_internal.c
  csmi/src/wm/src/csmi_wm_internal.c
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.bds, PhaseFound: IST, Sev: 1, Status: Verify, Type: Defect, Type: Test Case Request

#615 bb:Additional failover changes
  bb/src/BBTransferDef.cc
  bb/src/ContribIdFile.cc
  bb/src/HandleFile.cc
  bb/src/bbflags.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#616 bb:Coverity fix
  bb/src/BBTransferDef.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 4, Status: Pending in Pull Request, Type: Defect

#598 UTF-8 Mitigation Strategy
  csmd/src/db/src/csm_db_event_content.cc
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.db, PhaseFound: Customer, Sev: 2, Status: Verify, Type: Defect

#618 Implemented a new mechanism for disabling core blinking
  csmd/src/daemon/include/csm_jitter_info.h
  csmd/src/daemon/src/csm_daemon_config.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
  docs/source/csmd/csmd_config.rst
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2, Status: Verify, Type: New Feature

#620 Fixed off by one error that broke blink disable in cgroup.
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: IST, Sev: 2, Status: Verify, Type: Defect

#599 Updated CSM dynamic loading of DCGM library due to DCGM 1.5.6-1 packaging changes
  csmd/src/inv/src/inv_dcgm_access.cc
Labels: Comp: CSM.inventory, PhaseFound: Development, Sev: 2
