Repository IBM/CAST, pull requests merged in 2019-04, with the labels that each got.

#625 fixes for broken ufm APIs and ufm inventory collection
  .github/ISSUE_TEMPLATE/question.md
  csmd/src/daemon/src/csmi_request_handler/CSMISwitchAttributesQueryDetails.cc
  csmd/src/daemon/src/csmi_request_handler/CSMISwitchChildrenInventoryCollection.cc
  csmd/src/inv/ib_and_switch/include/inv_switch_connector_access.h
  csmd/src/inv/ib_and_switch/src/inv_switch_connector_access.cc
  csmd/src/inv/ib_and_switch/src/standalone_ib_and_switch_collection.cc
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_drop_functions.sql
  csmi/src/inv/cmd/switch_attributes_query_details.c
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.inventory, Comp: Mellanox, PhaseFound: Development, Sev: 2

#614 csmdb_python_dependency
  csmd/setupRPM.cmake
  csmdb/sql/CMakeLists.txt
Labels: Comp: CSM, Comp: CSM.db, Comp: Function Shipping, PhaseFound: Customer, Type: Defect, Type: Support Request

#630 Algorithmic Core Blinking
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.cc
  csmd/src/daemon/src/csmi_request_handler/helpers/cgroup.h
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, PhaseFound: IST, Sev: 2, Status: Verify, Type: Defect, Type: New Feature

#632 dev dlherms
  bb/src/BBLV_ExtentInfo.cc
  bb/src/BBLV_Info.cc
  bb/src/BBLV_Metadata.cc
  bb/src/BBLV_Metadata.h
  bb/src/ContribFile.cc
  bb/src/ContribIdFile.cc
  bb/src/Extent.h
  bb/src/HandleFile.cc
  bb/src/HandleFile.h
  bb/src/bbcmd.cc
  bb/src/bbinternal.h
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
  bb/src/xfer.cc
  bb/wrappers/Procedures.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#623 static analysis review
  csmd/src/daemon/include/bds_info.h
  csmd/src/daemon/include/csm_api_acl.h
  csmd/src/daemon/include/csm_daemon_core.h
  csmd/src/daemon/include/csm_daemon_network_manager.h
  csmd/src/daemon/include/thread_pool.h
  csmd/src/daemon/src/csm_bds_manager.cc
  csmd/src/daemon/src/csm_daemon.cc
  csmd/src/daemon/src/csm_daemon_main.cc
  csmd/src/daemon/src/csm_daemon_network_manager.cc
  csmd/src/daemon/src/csm_db_manager.cc
  csmd/src/daemon/src/csm_event_source_set.cc
  csmd/src/daemon/src/csm_timer_manager.cc
  csmd/src/daemon/src/csmi_request_handler/csm_environmental_handler.h
  csmd/src/daemon/src/csmi_request_handler/csm_infrastructure_test.h
  csmd/src/daemon/src/csmi_request_handler/csm_infrastructure_test_agent.cc
  csmd/src/daemon/src/csmi_request_handler/csm_infrastructure_test_agg.cc
  csmd/src/daemon/src/csmi_request_handler/csm_infrastructure_test_utility.cc
  csmd/src/daemon/src/csmi_request_handler/csm_interval_handler.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_base.h
  csmd/src/daemon/src/csmi_request_handler/csmi_db_base.cc
  csmd/src/daemon/src/csmi_request_handler/csmi_forward_handler.cc
  csmd/src/daemon/tests/csm_c_client_ack_test.cc
  csmd/src/daemon/tests/csm_ctrl_cmd.cc
  csmd/src/daemon/tests/csm_daemon_echo_test.c
  csmd/src/daemon/tests/csm_daemon_echo_test.cc
  csmd/src/daemon/tests/csm_event_source_set_test.cc
  csmd/src/daemon/tests/csm_infrastructure_health_check.cc
  csmd/src/daemon/tests/error_inject.cc
  csmnet/src/C/csm_network_local.c
  csmnet/src/CPP/endpoint_aggregator.cc
  csmnet/src/CPP/endpoint_ptp.cc
  csmnet/src/CPP/endpoint_ptp.h
  csmnet/src/CPP/endpoint_ptp_plain.cc
  csmnet/src/CPP/endpoint_ptp_sec.cc
  csmnet/src/CPP/endpoint_ptp_sec.h
  csmnet/src/CPP/endpoint_unix.cc
  csmnet/src/CPP/endpoint_utility.cc
  csmnet/tests/buffer_state_test.cc
  csmnet/tests/endpoint_ptp_test.cc
  csmrestd/src/csmrestd.cc
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.infra, Comp: CSM.ras, Sev: 3, Type: Defect

#635 dev dlherms
  bb/src/BBLV_ExtentInfo.cc
  bb/src/BBLV_Metadata.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqe.cc
  bb/src/bbwrkqe.h
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#634 Updated CSM RAS BMC message types based on updated Ibm crassd policy table
  csmd/src/ras/bmc/CSMpolicyTable.json
  csmd/src/ras/bmc/p9_witherspoon_csm_ras_type_data.csv
  csmdb/sql/csm_ras_type_data.csv
Labels: Comp: CSM.ras, Sev: 3

#637 bb:Additional restart changes related to handle file locking
  bb/src/BBLV_Info.cc
  bb/src/BBLV_Metadata.cc
  bb/src/BBTransferDef.cc
  bb/src/ContribIdFile.cc
  bb/src/ContribIdFile.h
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#636 Fixing debug level for PAM scripts
  csmd/src/pamd/src/csm_pam.cc
  csmutil/src/csmutil_logging.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Customer, Sev: 1, Status: Verify, Type: Defect, Type: Test Case Request

#642 Dev dlherms
  bb/scripts/setServer.pl
  bb/src/LVUtils.cc
  bb/src/bbapi.cc
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
  utilities/src/identity.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#643 bb:Wrapper support: Fix mapping to unit64_t for vector of handles ret…
  bb/wrappers/bbapi.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 3, Status: Pending in Pull Request, Type: Defect

#641 Fixed the post install to only trigger when uninstalls are run.
  csmd/rpmscripts/csmd.post.uninstall
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Customer, Sev: 3, Status: Verify, Type: Defect

#646 Csm ufm compatibility -> master
  csmconf/csm_master.cfg
  csmd/src/inv/ib_and_switch/include/inv_switch_connector_access.h
  csmd/src/inv/ib_and_switch/src/inv_ib_connector_access.cc
  csmd/src/inv/ib_and_switch/src/inv_switch_connector_access.cc
  csmd/src/inv/ib_and_switch/src/standalone_ib_and_switch_collection.cc
  csmtest/include/json/ufm/output_5_9.json
  csmtest/include/json/ufm/output_6_1.json
  docs/source/csmd/csmd_config.rst
  docs/source/tools.rst
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.db, Comp: CSM.inventory, Comp: Mellanox, PhaseFound: Development, Sev: 2, Type: Defect, Type: Documentation, Type: Test Case Request

#648 dev dlherms2
  bb/src/BBLV_Info.cc
  bb/src/BBLV_Metadata.cc
  bb/src/BBLV_Metadata.h
  bb/src/ContribIdFile.cc
  bb/src/ContribIdFile.h
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#650 Dev dlherms2
  bb/src/BBJob.h
  bb/src/BBLV_ExtentInfo.cc
  bb/src/BBLV_ExtentInfo.h
  bb/src/BBLV_Info.cc
  bb/src/BBLV_Info.h
  bb/src/BBLV_Metadata.cc
  bb/src/BBLV_Metadata.h
  bb/src/BBTagInfo.cc
  bb/src/BBTagInfo.h
  bb/src/BBTagInfoMap.cc
  bb/src/BBTagInfoMap.h
  bb/src/BBTagParts.cc
  bb/src/BBTagParts.h
  bb/src/BBTransferDef.cc
  bb/src/BBTransferDef.h
  bb/src/ContribIdFile.cc
  bb/src/ContribIdFile.h
  bb/src/HandleFile.cc
  bb/src/bbapi.cc
  bb/src/bbapi2.cc
  bb/src/bbapi2.h
  bb/src/bbcmd.cc
  bb/src/bbflags.h
  bb/src/bbinternal.h
  bb/src/bbproxy.cc
  bb/src/bbproxy.h
  bb/src/bbserver.cc
  bb/src/bbserver.h
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
  bb/src/xfer.cc
  bb/wrappers/Procedures.py
  bb/wrappers/bbapi.py
  bb/wrappers/bbapiAdmin.py
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#645 CSM FVT: Allocation Timing mechanism
  csmtest/buckets/advanced/allocation_timing.py
Labels: Comp: CSM, Comp: CSM.fvt, Sev: 3, Status: Verify, Type: Test Case Added, Type: Test Case Request

#653 bb:For restart, skip over non-active residual jobs that exist in the …
  bb/src/BBLV_Metadata.cc
  bb/src/BBLV_Metadata.h
  bb/src/BBTransferDef.cc
  bb/src/bbserver.cc
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, Sev: 2, Status: Pending in Pull Request, Type: Defect

#660 dev dlherms2
  bb/src/BBTransferDef.cc
  bb/src/ContribIdFile.cc
  bb/src/HandleFile.cc
  bb/src/bberror.h
  bb/src/bbproxy.cc
  bb/src/bbserver.cc
  bb/src/connections.cc
  bb/src/ras.json
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Customer, Sev: 2, Status: Pending in Pull Request, Type: Defect
