Repository IBM/CAST, pull requests merged in 2020-05, with the labels that each got.

#902 Updated csmtest hcdiag clustconf.yaml template for RHEL 8.1 testing
  csmtest/include/hcdiag/clustconf.yaml
Labels: Comp: CSM.fvt, PhaseFound: FVT, Sev: 2

#909 Add RHEL 8 csm-api python library support
  csmi/src/CMakeLists.txt
  csmtest/buckets/basic/fvt_allocation_create_and_delete.py
  csmtest/buckets/basic/fvt_node_attributes_query_and_update.py
Labels: Comp: Build, Comp: CSM.api, Comp: CSM.fvt, PhaseFound: Build

#908 Dev dlherms2
  bb/src/BBLocalAsync.cc
  bb/src/BBLocalAsync.h
  bb/src/BBTagInfo.cc
  bb/src/BBTransferDef.cc
  bb/src/LVUtils.cc
  bb/src/bbwrkqmgr.cc
  bb/src/bbwrkqmgr.h
  bb/src/xfer.cc
  utilities/src/util.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#911 Csm ssl coms
  csmnet/src/CPP/endpoint_ptp.h
  csmnet/src/CPP/endpoint_ptp_sec.cc
  csmnet/src/CPP/endpoint_ptp_sec.h
  csmnet/src/CPP/multi_endpoint.cc
Labels: Comp: CSM, Comp: CSM.infra, PhaseFound: Development, Sev: 1, Type: Defect

#914 Team process 80
  csmi/src/diag/cmd/diag_run_end.c
  csmi/src/diag/src/csmi_diag_run_end.c
Labels: Comp: CSM, Comp: CSM.api, Comp: CSM.diag, PhaseFound: Development, Sev: 2, Type: Defect

#912 Dev dlherms2
  bb/src/BBLV_ExtentInfo.cc
  bb/src/BBLocalAsync.cc
  bb/src/BBLocalAsync.h
  bb/src/bbwrkqmgr.cc
Labels: Comp: Burst Buffer, PhaseFound: Development, Sev: 2, Status: Pending in Pull Request, Type: Defect

#915 Team process 86
  csmi/src/diag/cmd/diag_run_end.c
  csmi/src/diag/cmd/diag_run_query_details.c
  csmi/src/diag/src/csmi_diag_run_query_details.c
  csmi/src/wm/cmd/jsrun_cmd.c
Labels: Comp: CSM, Comp: CSM.api, PhaseFound: Development, Sev: 2

#916 team process 81
  hcdiag/src/tests/chk-sys-firmware/chk-sys-firmware.pm
Labels: Comp: CSM, Comp: CSM.diag, PhaseFound: Development, PhaseFound: FVT, Sev: 2, Type: Defect
