Repository IBM/CAST, pull requests merged in 2020-06, with the labels that each got.

#921 bb:Fix for #918 Data loss when transferring sparse files between SSD …
  bb/src/BBLV_ExtentInfo.cc
  bb/src/BBLV_ExtentInfo.h
  bb/src/BBLV_Info.cc
  bb/src/bbflags.h
  bb/src/fh.cc
  bb/src/fh.h
  bb/src/xfer.cc
Labels: Comp: Burst Buffer, PhaseFound: Customer, Sev: 2, Status: Pending in Pull Request, Type: Defect

#923 CSM DB Schema Migration 19.0 features/updates to support rhels 8.1 an…
  csmdb/sql/csm_create_tables.sql
  csmdb/sql/csm_create_triggers.sql
  csmdb/sql/csm_db_migration_scripts/csm_db_schema_updates_19_0_ms.sql
  csmdb/sql/csm_db_schema_version_data.csv
  csmdb/sql/csm_db_schema_version_upgrade_19_0.sh
  csmdb/sql/csm_delete_data.sql
  csmdb/sql/csm_drop_functions.sql
  csmdb/sql/csm_drop_tables.sql
  docs/source/csm/csmdb/csm_db_appendix.rst
  docs/source/csm/csmdb/csm_db_appendix_table_csv_files/csm_db_indexes_06_01_2020_16_47_00.csv
  docs/source/csm/csmdb/csm_db_schema_version_upgrade_19_0_sh.rst
  docs/source/csm/csmdb/index.rst
Labels: Comp: CSM.db, Type: Support Request

#924 Updated csm_api.cfg file to contain more appropriate default values
  csmconf/csm_api.cfg
  csmtest/include/prologs/privileged_epilog_timeout
  csmtest/include/prologs/privileged_prolog_timeout
Labels: Comp: CSM.api, Comp: CSM.fvt, PhaseFound: Customer, Sev: 2, Type: Example

#926 CSM updates related to DCGM 2.0.4-1 regression testing
  csmd/dcgm.cmake
  csmd/src/inv/src/inv_dcgm_access.cc
  csmtest/buckets/advanced/allocation_timing.py
  hcdiag/src/tests/common/functions
Labels: Comp: CSM.diag, Comp: CSM.fvt, Comp: Nvidia, PhaseFound: Development, Sev: 2

#927 This is an update to a recent bug found by IST regarding archive_hist…
  csmdb/sql/csm_db_history_archive.py
Labels: Comp: CSM.bds, Comp: CSM.db, PhaseFound: IST, Sev: 3, Type: Defect

#933 This is a more efficient fix related to the achive history timestamp …
  csmdb/sql/csm_db_history_archive.py
Labels: Comp: CSM.db

#934 Update the CSM BDS python use cases to support python3 on RHEL8
  csm_big_data/logstash/plugins/csm_event_correlator/logstash-filter-csm_event_correlator.gemspec
  csm_big_data/python/cast_helper.py
  csm_big_data/python/findJobKeys.py
  csm_big_data/python/findJobMetrics.py
  csm_big_data/python/findJobTimeRange.py
  csm_big_data/python/findJobsInRange.py
  csm_big_data/python/findJobsRunning.py
  csm_big_data/python/findUserJobs.py
  csm_big_data/python/findWeightedErrors.py
  csm_big_data/setupRPM.cmake
  csmtest/buckets/BDS/python_scripts.sh
Labels: Comp: CSM.bds, PhaseFound: IST

#937 Coverity changes, improved logging when metadata cannot be verified
  bb/src/HandleFile.cc
  bb/src/LVUtils.cc
  bb/src/bbwrkqmgr.cc
  bb/tools/comparefiles.cc
Labels: Comp: Burst Buffer, PhaseFound: Customer, Sev: 2, Status: Pending in Pull Request, Type: Defect
