Repository IBM/CAST, pull requests merged in 2020-08, with the labels that each got.

#944 Added csm_init_struct to csm_allocation_step_end to fix Message packing error after building with --type=Release
  csmi/src/wm/cmd/allocation_step_end.c
Labels: Comp: CSM.api, PhaseFound: FVT, Sev: 2, Type: Defect

#949 This is a script to help setup a CSM MASTER node using a compute/othe…
  csmtest/include/csm_fvt_xcat_setup_on_non_mn.sh
Labels: Comp: CSM.fvt

#952 CSM RHEL8: fix GCC strncpy warnings [-Wstringop-truncation] in CSM GPU inventory
  csmd/src/inv/src/inv_gpu_inventory.cc
Labels: Comp: CSM, Comp: CSM.inventory, PhaseFound: Build, Sev: 3, Type: Defect

#950 CSM FVT hcdiag setup helper scripts to assist in collecting environme…
  csmtest/include/hcdiag/csm_fvt_diag_clustconf_yaml_setup_p8_p9.sh
  csmtest/include/hcdiag/csm_fvt_diag_test_properties_setup_p8_p9.sh
Labels: Comp: CSM.fvt

#954 Fix CSM log warning messages related to transitioning to DCGM 2.X from 1.X
  csmd/src/inv/src/inv_dcgm_access.cc
Labels: Comp: CSM, PhaseFound: Development, Sev: 3, Type: Defect

#955 CSM RHEL 8: updated rpm install script to change ordering of libcsmpam.so session entry in /etc/pam.d/sshd
  csmd/rpmscripts/csmd.post.install
Labels: Comp: CSM, PhaseFound: Customer, Type: Defect
